.h--bg-c-xs_grey {
  background-color: #e5e6e5;
}

.h--bg-c_white {
  background-color: #fff !important;
}

.h--bg-c_none {
  background: none;
}

/* SM */
@media (min-width: $sm) {
}

/* MD */
@media (min-width: $md) {
}

/* LG */
@media (min-width: $lg) {
}