/* -------- XS -------- */ 
/* px */
.h--bl-xs_0px {border-left: 0px !important; }
.h--bl-xs_1px {border-left: 1px !important; }
.h--bl-xs_2px {border-left: 2px !important; }
.h--bl-xs_3px {border-left: 3px !important; }
.h--bl-xs_4px {border-left: 4px !important; }
.h--bl-xs_5px {border-left: 5px !important; }
.h--bl-xs_6px {border-left: 6px !important; }
.h--bl-xs_7px {border-left: 7px !important; }
.h--bl-xs_8px {border-left: 8px !important; }
.h--bl-xs_9px {border-left: 9px !important; }
.h--bl-xs_10px {border-left: 10px !important; }

/* px */
.h--br-xs_0px {border-right: 0px !important; }
.h--br-xs_1px {border-right: 1px !important; }
.h--br-xs_2px {border-right: 2px !important; }
.h--br-xs_3px {border-right: 3px !important; }
.h--br-xs_4px {border-right: 4px !important; }
.h--br-xs_5px {border-right: 5px !important; }
.h--br-xs_6px {border-right: 6px !important; }
.h--br-xs_7px {border-right: 7px !important; }
.h--br-xs_8px {border-right: 8px !important; }
.h--br-xs_9px {border-right: 9px !important; }
.h--br-xs_10px {border-right: 10px !important; }

/* px */
.h--bt-xs_0px {border-top: 0px !important; }
.h--bt-xs_1px {border-top: 1px !important; }
.h--bt-xs_2px {border-top: 2px !important; }
.h--bt-xs_3px {border-top: 3px !important; }
.h--bt-xs_4px {border-top: 4px !important; }
.h--bt-xs_5px {border-top: 5px !important; }
.h--bt-xs_6px {border-top: 6px !important; }
.h--bt-xs_7px {border-top: 7px !important; }
.h--bt-xs_8px {border-top: 8px !important; }
.h--bt-xs_9px {border-top: 9px !important; }
.h--bt-xs_10px {border-top: 10px !important; }

/* px */
.h--bb-xs_0px {border-bottom: 0px !important; }
.h--bb-xs_1px {border-bottom: 1px !important; }
.h--bb-xs_2px {border-bottom: 2px !important; }
.h--bb-xs_3px {border-bottom: 3px !important; }
.h--bb-xs_4px {border-bottom: 4px !important; }
.h--bb-xs_5px {border-bottom: 5px !important; }
.h--bb-xs_6px {border-bottom: 6px !important; }
.h--bb-xs_7px {border-bottom: 7px !important; }
.h--bb-xs_8px {border-bottom: 8px !important; }
.h--bb-xs_9px {border-bottom: 9px !important; }
.h--bb-xs_10px {border-bottom: 10px !important; }

/* -------- SM -------- */ 
@media (min-width: $sm) {
	/* px */
	.h--bl-sm_0px {border-left: 0px !important; }
	.h--bl-sm_1px {border-left: 1px !important; }
	.h--bl-sm_2px {border-left: 2px !important; }
	.h--bl-sm_3px {border-left: 3px !important; }
	.h--bl-sm_4px {border-left: 4px !important; }
	.h--bl-sm_5px {border-left: 5px !important; }
	.h--bl-sm_6px {border-left: 6px !important; }
	.h--bl-sm_7px {border-left: 7px !important; }
	.h--bl-sm_8px {border-left: 8px !important; }
	.h--bl-sm_9px {border-left: 9px !important; }
	.h--bl-sm_10px {border-left: 10px !important; }

	/* px */
	.h--br-sm_0px {border-right: 0px !important; }
	.h--br-sm_1px {border-right: 1px !important; }
	.h--br-sm_2px {border-right: 2px !important; }
	.h--br-sm_3px {border-right: 3px !important; }
	.h--br-sm_4px {border-right: 4px !important; }
	.h--br-sm_5px {border-right: 5px !important; }
	.h--br-sm_6px {border-right: 6px !important; }
	.h--br-sm_7px {border-right: 7px !important; }
	.h--br-sm_8px {border-right: 8px !important; }
	.h--br-sm_9px {border-right: 9px !important; }
	.h--br-sm_10px {border-right: 10px !important; }

	/* px */
	.h--bt-sm_0px {border-top: 0px !important; }
	.h--bt-sm_1px {border-top: 1px !important; }
	.h--bt-sm_2px {border-top: 2px !important; }
	.h--bt-sm_3px {border-top: 3px !important; }
	.h--bt-sm_4px {border-top: 4px !important; }
	.h--bt-sm_5px {border-top: 5px !important; }
	.h--bt-sm_6px {border-top: 6px !important; }
	.h--bt-sm_7px {border-top: 7px !important; }
	.h--bt-sm_8px {border-top: 8px !important; }
	.h--bt-sm_9px {border-top: 9px !important; }
	.h--bt-sm_10px {border-top: 10px !important; }

	/* px */
	.h--bb-sm_0px {border-bottom: 0px !important; }
	.h--bb-sm_1px {border-bottom: 1px !important; }
	.h--bb-sm_2px {border-bottom: 2px !important; }
	.h--bb-sm_3px {border-bottom: 3px !important; }
	.h--bb-sm_4px {border-bottom: 4px !important; }
	.h--bb-sm_5px {border-bottom: 5px !important; }
	.h--bb-sm_6px {border-bottom: 6px !important; }
	.h--bb-sm_7px {border-bottom: 7px !important; }
	.h--bb-sm_8px {border-bottom: 8px !important; }
	.h--bb-sm_9px {border-bottom: 9px !important; }
	.h--bb-sm_10px {border-bottom: 10px !important; }

}
/* -------- MD -------- */ 
@media (min-width: $md) {
	/* px */
	.h--bl-md_0px {border-left: 0px !important; }
	.h--bl-md_1px {border-left: 1px !important; }
	.h--bl-md_2px {border-left: 2px !important; }
	.h--bl-md_3px {border-left: 3px !important; }
	.h--bl-md_4px {border-left: 4px !important; }
	.h--bl-md_5px {border-left: 5px !important; }
	.h--bl-md_6px {border-left: 6px !important; }
	.h--bl-md_7px {border-left: 7px !important; }
	.h--bl-md_8px {border-left: 8px !important; }
	.h--bl-md_9px {border-left: 9px !important; }
	.h--bl-md_10px {border-left: 10px !important; }

	/* px */
	.h--br-md_0px {border-right: 0px !important; }
	.h--br-md_1px {border-right: 1px !important; }
	.h--br-md_2px {border-right: 2px !important; }
	.h--br-md_3px {border-right: 3px !important; }
	.h--br-md_4px {border-right: 4px !important; }
	.h--br-md_5px {border-right: 5px !important; }
	.h--br-md_6px {border-right: 6px !important; }
	.h--br-md_7px {border-right: 7px !important; }
	.h--br-md_8px {border-right: 8px !important; }
	.h--br-md_9px {border-right: 9px !important; }
	.h--br-md_10px {border-right: 10px !important; }

	/* px */
	.h--bt-md_0px {border-top: 0px !important; }
	.h--bt-md_1px {border-top: 1px !important; }
	.h--bt-md_2px {border-top: 2px !important; }
	.h--bt-md_3px {border-top: 3px !important; }
	.h--bt-md_4px {border-top: 4px !important; }
	.h--bt-md_5px {border-top: 5px !important; }
	.h--bt-md_6px {border-top: 6px !important; }
	.h--bt-md_7px {border-top: 7px !important; }
	.h--bt-md_8px {border-top: 8px !important; }
	.h--bt-md_9px {border-top: 9px !important; }
	.h--bt-md_10px {border-top: 10px !important; }

	/* px */
	.h--bb-md_0px {border-bottom: 0px !important; }
	.h--bb-md_1px {border-bottom: 1px !important; }
	.h--bb-md_2px {border-bottom: 2px !important; }
	.h--bb-md_3px {border-bottom: 3px !important; }
	.h--bb-md_4px {border-bottom: 4px !important; }
	.h--bb-md_5px {border-bottom: 5px !important; }
	.h--bb-md_6px {border-bottom: 6px !important; }
	.h--bb-md_7px {border-bottom: 7px !important; }
	.h--bb-md_8px {border-bottom: 8px !important; }
	.h--bb-md_9px {border-bottom: 9px !important; }
	.h--bb-md_10px {border-bottom: 10px !important; }

}
/* -------- LG -------- */ 
@media (min-width: $lg) {
	/* px */
	.h--bl-lg_0px {border-left: 0px !important; }
	.h--bl-lg_1px {border-left: 1px !important; }
	.h--bl-lg_2px {border-left: 2px !important; }
	.h--bl-lg_3px {border-left: 3px !important; }
	.h--bl-lg_4px {border-left: 4px !important; }
	.h--bl-lg_5px {border-left: 5px !important; }
	.h--bl-lg_6px {border-left: 6px !important; }
	.h--bl-lg_7px {border-left: 7px !important; }
	.h--bl-lg_8px {border-left: 8px !important; }
	.h--bl-lg_9px {border-left: 9px !important; }
	.h--bl-lg_10px {border-left: 10px !important; }

	/* px */
	.h--br-lg_0px {border-right: 0px !important; }
	.h--br-lg_1px {border-right: 1px !important; }
	.h--br-lg_2px {border-right: 2px !important; }
	.h--br-lg_3px {border-right: 3px !important; }
	.h--br-lg_4px {border-right: 4px !important; }
	.h--br-lg_5px {border-right: 5px !important; }
	.h--br-lg_6px {border-right: 6px !important; }
	.h--br-lg_7px {border-right: 7px !important; }
	.h--br-lg_8px {border-right: 8px !important; }
	.h--br-lg_9px {border-right: 9px !important; }
	.h--br-lg_10px {border-right: 10px !important; }

	/* px */
	.h--bt-lg_0px {border-top: 0px !important; }
	.h--bt-lg_1px {border-top: 1px !important; }
	.h--bt-lg_2px {border-top: 2px !important; }
	.h--bt-lg_3px {border-top: 3px !important; }
	.h--bt-lg_4px {border-top: 4px !important; }
	.h--bt-lg_5px {border-top: 5px !important; }
	.h--bt-lg_6px {border-top: 6px !important; }
	.h--bt-lg_7px {border-top: 7px !important; }
	.h--bt-lg_8px {border-top: 8px !important; }
	.h--bt-lg_9px {border-top: 9px !important; }
	.h--bt-lg_10px {border-top: 10px !important; }

	/* px */
	.h--bb-lg_0px {border-bottom: 0px !important; }
	.h--bb-lg_1px {border-bottom: 1px !important; }
	.h--bb-lg_2px {border-bottom: 2px !important; }
	.h--bb-lg_3px {border-bottom: 3px !important; }
	.h--bb-lg_4px {border-bottom: 4px !important; }
	.h--bb-lg_5px {border-bottom: 5px !important; }
	.h--bb-lg_6px {border-bottom: 6px !important; }
	.h--bb-lg_7px {border-bottom: 7px !important; }
	.h--bb-lg_8px {border-bottom: 8px !important; }
	.h--bb-lg_9px {border-bottom: 9px !important; }
	.h--bb-lg_10px {border-bottom: 10px !important; }

}
