.h--fs-xs_11px {
  font-size: 11px;
}

.h--fs-xs_12px {
  font-size: 12px;
}

/* -------- XS -------- */ 
/* px */
.h--fs-xs_0px {font-size: 0px !important; }
.h--fs-xs_5px {font-size: 5px !important; }
.h--fs-xs_10px {font-size: 10px !important; }
.h--fs-xs_15px {font-size: 15px !important; }
.h--fs-xs_20px {font-size: 20px !important; }
.h--fs-xs_25px {font-size: 25px !important; }
.h--fs-xs_30px {font-size: 30px !important; }
.h--fs-xs_35px {font-size: 35px !important; }
.h--fs-xs_40px {font-size: 40px !important; }
.h--fs-xs_45px {font-size: 45px !important; }
.h--fs-xs_50px {font-size: 50px !important; }
.h--fs-xs_55px {font-size: 55px !important; }
.h--fs-xs_60px {font-size: 60px !important; }
.h--fs-xs_65px {font-size: 65px !important; }
.h--fs-xs_70px {font-size: 70px !important; }
.h--fs-xs_75px {font-size: 75px !important; }
.h--fs-xs_80px {font-size: 80px !important; }
.h--fs-xs_85px {font-size: 85px !important; }
.h--fs-xs_90px {font-size: 90px !important; }
.h--fs-xs_95px {font-size: 95px !important; }
.h--fs-xs_100px {font-size: 100px !important; }
/* em */
.h--fs-xs_0em {font-size: 0em !important; }
.h--fs-xs_0_1em {font-size: 0.1em !important; }
.h--fs-xs_0_2em {font-size: 0.2em !important; }
.h--fs-xs_0_3em {font-size: 0.3em !important; }
.h--fs-xs_0_4em {font-size: 0.4em !important; }
.h--fs-xs_0_5em {font-size: 0.5em !important; }
.h--fs-xs_0_6em {font-size: 0.6em !important; }
.h--fs-xs_0_7em {font-size: 0.7em !important; }
.h--fs-xs_0_8em {font-size: 0.8em !important; }
.h--fs-xs_0_9em {font-size: 0.9em !important; }
.h--fs-xs_1em {font-size: 1em !important; }
.h--fs-xs_1_1em {font-size: 1.1em !important; }
.h--fs-xs_1_2em {font-size: 1.2em !important; }
.h--fs-xs_1_3em {font-size: 1.3em !important; }
.h--fs-xs_1_4em {font-size: 1.4em !important; }
.h--fs-xs_1_5em {font-size: 1.5em !important; }
.h--fs-xs_1_6em {font-size: 1.6em !important; }
.h--fs-xs_1_7em {font-size: 1.7em !important; }
.h--fs-xs_1_8em {font-size: 1.8em !important; }
.h--fs-xs_1_9em {font-size: 1.9em !important; }
.h--fs-xs_2em {font-size: 2em !important; }
.h--fs-xs_2_1em {font-size: 2.1em !important; }
.h--fs-xs_2_2em {font-size: 2.2em !important; }
.h--fs-xs_2_3em {font-size: 2.3em !important; }
.h--fs-xs_2_4em {font-size: 2.4em !important; }
.h--fs-xs_2_5em {font-size: 2.5em !important; }
.h--fs-xs_2_6em {font-size: 2.6em !important; }
.h--fs-xs_2_7em {font-size: 2.7em !important; }
.h--fs-xs_2_8em {font-size: 2.8em !important; }
.h--fs-xs_2_9em {font-size: 2.9em !important; }
.h--fs-xs_3em {font-size: 3em !important; }
.h--fs-xs_3_1em {font-size: 3.1em !important; }
.h--fs-xs_3_2em {font-size: 3.2em !important; }
.h--fs-xs_3_3em {font-size: 3.3em !important; }
.h--fs-xs_3_4em {font-size: 3.4em !important; }
.h--fs-xs_3_5em {font-size: 3.5em !important; }
.h--fs-xs_3_6em {font-size: 3.6em !important; }
.h--fs-xs_3_7em {font-size: 3.7em !important; }
.h--fs-xs_3_8em {font-size: 3.8em !important; }
.h--fs-xs_3_9em {font-size: 3.9em !important; }

/* -------- SM -------- */ 
@media (min-width: $sm) {
	/* px */
	.h--fs-sm_0px {font-size: 0px !important; }
	.h--fs-sm_5px {font-size: 5px !important; }
	.h--fs-sm_10px {font-size: 10px !important; }
	.h--fs-sm_15px {font-size: 15px !important; }
	.h--fs-sm_20px {font-size: 20px !important; }
	.h--fs-sm_25px {font-size: 25px !important; }
	.h--fs-sm_30px {font-size: 30px !important; }
	.h--fs-sm_35px {font-size: 35px !important; }
	.h--fs-sm_40px {font-size: 40px !important; }
	.h--fs-sm_45px {font-size: 45px !important; }
	.h--fs-sm_50px {font-size: 50px !important; }
	.h--fs-sm_55px {font-size: 55px !important; }
	.h--fs-sm_60px {font-size: 60px !important; }
	.h--fs-sm_65px {font-size: 65px !important; }
	.h--fs-sm_70px {font-size: 70px !important; }
	.h--fs-sm_75px {font-size: 75px !important; }
	.h--fs-sm_80px {font-size: 80px !important; }
	.h--fs-sm_85px {font-size: 85px !important; }
	.h--fs-sm_90px {font-size: 90px !important; }
	.h--fs-sm_95px {font-size: 95px !important; }
	.h--fs-sm_100px {font-size: 100px !important; }
	/* em */
	.h--fs-sm_0em {font-size: 0em !important; }
	.h--fs-sm_0_1em {font-size: 0.1em !important; }
	.h--fs-sm_0_2em {font-size: 0.2em !important; }
	.h--fs-sm_0_3em {font-size: 0.3em !important; }
	.h--fs-sm_0_4em {font-size: 0.4em !important; }
	.h--fs-sm_0_5em {font-size: 0.5em !important; }
	.h--fs-sm_0_6em {font-size: 0.6em !important; }
	.h--fs-sm_0_7em {font-size: 0.7em !important; }
	.h--fs-sm_0_8em {font-size: 0.8em !important; }
	.h--fs-sm_0_9em {font-size: 0.9em !important; }
	.h--fs-sm_1em {font-size: 1em !important; }
	.h--fs-sm_1_1em {font-size: 1.1em !important; }
	.h--fs-sm_1_2em {font-size: 1.2em !important; }
	.h--fs-sm_1_3em {font-size: 1.3em !important; }
	.h--fs-sm_1_4em {font-size: 1.4em !important; }
	.h--fs-sm_1_5em {font-size: 1.5em !important; }
	.h--fs-sm_1_6em {font-size: 1.6em !important; }
	.h--fs-sm_1_7em {font-size: 1.7em !important; }
	.h--fs-sm_1_8em {font-size: 1.8em !important; }
	.h--fs-sm_1_9em {font-size: 1.9em !important; }
	.h--fs-sm_2em {font-size: 2em !important; }
	.h--fs-sm_2_1em {font-size: 2.1em !important; }
	.h--fs-sm_2_2em {font-size: 2.2em !important; }
	.h--fs-sm_2_3em {font-size: 2.3em !important; }
	.h--fs-sm_2_4em {font-size: 2.4em !important; }
	.h--fs-sm_2_5em {font-size: 2.5em !important; }
	.h--fs-sm_2_6em {font-size: 2.6em !important; }
	.h--fs-sm_2_7em {font-size: 2.7em !important; }
	.h--fs-sm_2_8em {font-size: 2.8em !important; }
	.h--fs-sm_2_9em {font-size: 2.9em !important; }
	.h--fs-sm_3em {font-size: 3em !important; }
	.h--fs-sm_3_1em {font-size: 3.1em !important; }
	.h--fs-sm_3_2em {font-size: 3.2em !important; }
	.h--fs-sm_3_3em {font-size: 3.3em !important; }
	.h--fs-sm_3_4em {font-size: 3.4em !important; }
	.h--fs-sm_3_5em {font-size: 3.5em !important; }
	.h--fs-sm_3_6em {font-size: 3.6em !important; }
	.h--fs-sm_3_7em {font-size: 3.7em !important; }
	.h--fs-sm_3_8em {font-size: 3.8em !important; }
	.h--fs-sm_3_9em {font-size: 3.9em !important; }

}
/* -------- MD -------- */ 
@media (min-width: $md) {
	/* px */
	.h--fs-md_0px {font-size: 0px !important; }
	.h--fs-md_5px {font-size: 5px !important; }
	.h--fs-md_10px {font-size: 10px !important; }
	.h--fs-md_15px {font-size: 15px !important; }
	.h--fs-md_20px {font-size: 20px !important; }
	.h--fs-md_25px {font-size: 25px !important; }
	.h--fs-md_30px {font-size: 30px !important; }
	.h--fs-md_35px {font-size: 35px !important; }
	.h--fs-md_40px {font-size: 40px !important; }
	.h--fs-md_45px {font-size: 45px !important; }
	.h--fs-md_50px {font-size: 50px !important; }
	.h--fs-md_55px {font-size: 55px !important; }
	.h--fs-md_60px {font-size: 60px !important; }
	.h--fs-md_65px {font-size: 65px !important; }
	.h--fs-md_70px {font-size: 70px !important; }
	.h--fs-md_75px {font-size: 75px !important; }
	.h--fs-md_80px {font-size: 80px !important; }
	.h--fs-md_85px {font-size: 85px !important; }
	.h--fs-md_90px {font-size: 90px !important; }
	.h--fs-md_95px {font-size: 95px !important; }
	.h--fs-md_100px {font-size: 100px !important; }
	/* em */
	.h--fs-md_0em {font-size: 0em !important; }
	.h--fs-md_0_1em {font-size: 0.1em !important; }
	.h--fs-md_0_2em {font-size: 0.2em !important; }
	.h--fs-md_0_3em {font-size: 0.3em !important; }
	.h--fs-md_0_4em {font-size: 0.4em !important; }
	.h--fs-md_0_5em {font-size: 0.5em !important; }
	.h--fs-md_0_6em {font-size: 0.6em !important; }
	.h--fs-md_0_7em {font-size: 0.7em !important; }
	.h--fs-md_0_8em {font-size: 0.8em !important; }
	.h--fs-md_0_9em {font-size: 0.9em !important; }
	.h--fs-md_1em {font-size: 1em !important; }
	.h--fs-md_1_1em {font-size: 1.1em !important; }
	.h--fs-md_1_2em {font-size: 1.2em !important; }
	.h--fs-md_1_3em {font-size: 1.3em !important; }
	.h--fs-md_1_4em {font-size: 1.4em !important; }
	.h--fs-md_1_5em {font-size: 1.5em !important; }
	.h--fs-md_1_6em {font-size: 1.6em !important; }
	.h--fs-md_1_7em {font-size: 1.7em !important; }
	.h--fs-md_1_8em {font-size: 1.8em !important; }
	.h--fs-md_1_9em {font-size: 1.9em !important; }
	.h--fs-md_2em {font-size: 2em !important; }
	.h--fs-md_2_1em {font-size: 2.1em !important; }
	.h--fs-md_2_2em {font-size: 2.2em !important; }
	.h--fs-md_2_3em {font-size: 2.3em !important; }
	.h--fs-md_2_4em {font-size: 2.4em !important; }
	.h--fs-md_2_5em {font-size: 2.5em !important; }
	.h--fs-md_2_6em {font-size: 2.6em !important; }
	.h--fs-md_2_7em {font-size: 2.7em !important; }
	.h--fs-md_2_8em {font-size: 2.8em !important; }
	.h--fs-md_2_9em {font-size: 2.9em !important; }
	.h--fs-md_3em {font-size: 3em !important; }
	.h--fs-md_3_1em {font-size: 3.1em !important; }
	.h--fs-md_3_2em {font-size: 3.2em !important; }
	.h--fs-md_3_3em {font-size: 3.3em !important; }
	.h--fs-md_3_4em {font-size: 3.4em !important; }
	.h--fs-md_3_5em {font-size: 3.5em !important; }
	.h--fs-md_3_6em {font-size: 3.6em !important; }
	.h--fs-md_3_7em {font-size: 3.7em !important; }
	.h--fs-md_3_8em {font-size: 3.8em !important; }
	.h--fs-md_3_9em {font-size: 3.9em !important; }

}
/* -------- LG -------- */ 
@media (min-width: $lg) {
	/* px */
	.h--fs-lg_0px {font-size: 0px !important; }
	.h--fs-lg_5px {font-size: 5px !important; }
	.h--fs-lg_10px {font-size: 10px !important; }
	.h--fs-lg_15px {font-size: 15px !important; }
	.h--fs-lg_20px {font-size: 20px !important; }
	.h--fs-lg_25px {font-size: 25px !important; }
	.h--fs-lg_30px {font-size: 30px !important; }
	.h--fs-lg_35px {font-size: 35px !important; }
	.h--fs-lg_40px {font-size: 40px !important; }
	.h--fs-lg_45px {font-size: 45px !important; }
	.h--fs-lg_50px {font-size: 50px !important; }
	.h--fs-lg_55px {font-size: 55px !important; }
	.h--fs-lg_60px {font-size: 60px !important; }
	.h--fs-lg_65px {font-size: 65px !important; }
	.h--fs-lg_70px {font-size: 70px !important; }
	.h--fs-lg_75px {font-size: 75px !important; }
	.h--fs-lg_80px {font-size: 80px !important; }
	.h--fs-lg_85px {font-size: 85px !important; }
	.h--fs-lg_90px {font-size: 90px !important; }
	.h--fs-lg_95px {font-size: 95px !important; }
	.h--fs-lg_100px {font-size: 100px !important; }
	/* em */
	.h--fs-lg_0em {font-size: 0em !important; }
	.h--fs-lg_0_1em {font-size: 0.1em !important; }
	.h--fs-lg_0_2em {font-size: 0.2em !important; }
	.h--fs-lg_0_3em {font-size: 0.3em !important; }
	.h--fs-lg_0_4em {font-size: 0.4em !important; }
	.h--fs-lg_0_5em {font-size: 0.5em !important; }
	.h--fs-lg_0_6em {font-size: 0.6em !important; }
	.h--fs-lg_0_7em {font-size: 0.7em !important; }
	.h--fs-lg_0_8em {font-size: 0.8em !important; }
	.h--fs-lg_0_9em {font-size: 0.9em !important; }
	.h--fs-lg_1em {font-size: 1em !important; }
	.h--fs-lg_1_1em {font-size: 1.1em !important; }
	.h--fs-lg_1_2em {font-size: 1.2em !important; }
	.h--fs-lg_1_3em {font-size: 1.3em !important; }
	.h--fs-lg_1_4em {font-size: 1.4em !important; }
	.h--fs-lg_1_5em {font-size: 1.5em !important; }
	.h--fs-lg_1_6em {font-size: 1.6em !important; }
	.h--fs-lg_1_7em {font-size: 1.7em !important; }
	.h--fs-lg_1_8em {font-size: 1.8em !important; }
	.h--fs-lg_1_9em {font-size: 1.9em !important; }
	.h--fs-lg_2em {font-size: 2em !important; }
	.h--fs-lg_2_1em {font-size: 2.1em !important; }
	.h--fs-lg_2_2em {font-size: 2.2em !important; }
	.h--fs-lg_2_3em {font-size: 2.3em !important; }
	.h--fs-lg_2_4em {font-size: 2.4em !important; }
	.h--fs-lg_2_5em {font-size: 2.5em !important; }
	.h--fs-lg_2_6em {font-size: 2.6em !important; }
	.h--fs-lg_2_7em {font-size: 2.7em !important; }
	.h--fs-lg_2_8em {font-size: 2.8em !important; }
	.h--fs-lg_2_9em {font-size: 2.9em !important; }
	.h--fs-lg_3em {font-size: 3em !important; }
	.h--fs-lg_3_1em {font-size: 3.1em !important; }
	.h--fs-lg_3_2em {font-size: 3.2em !important; }
	.h--fs-lg_3_3em {font-size: 3.3em !important; }
	.h--fs-lg_3_4em {font-size: 3.4em !important; }
	.h--fs-lg_3_5em {font-size: 3.5em !important; }
	.h--fs-lg_3_6em {font-size: 3.6em !important; }
	.h--fs-lg_3_7em {font-size: 3.7em !important; }
	.h--fs-lg_3_8em {font-size: 3.8em !important; }
	.h--fs-lg_3_9em {font-size: 3.9em !important; }
}
