/* -------- XS -------- */ 
/* px */
.h--ht-xs_0px {height: 0px !important; }
.h--ht-xs_5px {height: 5px !important; }
.h--ht-xs_10px {height: 10px !important; }
.h--ht-xs_15px {height: 15px !important; }
.h--ht-xs_20px {height: 20px !important; }
.h--ht-xs_25px {height: 25px !important; }
.h--ht-xs_30px {height: 30px !important; }
.h--ht-xs_35px {height: 35px !important; }
.h--ht-xs_40px {height: 40px !important; }
.h--ht-xs_45px {height: 45px !important; }
.h--ht-xs_50px {height: 50px !important; }
.h--ht-xs_55px {height: 55px !important; }
.h--ht-xs_60px {height: 60px !important; }
.h--ht-xs_65px {height: 65px !important; }
.h--ht-xs_70px {height: 70px !important; }
.h--ht-xs_75px {height: 75px !important; }
.h--ht-xs_80px {height: 80px !important; }
.h--ht-xs_85px {height: 85px !important; }
.h--ht-xs_90px {height: 90px !important; }
.h--ht-xs_95px {height: 95px !important; }
.h--ht-xs_100px {height: 100px !important; }
/* % */
.h--ht-xs_0pr {height: 0% !important; }
.h--ht-xs_5pr {height: 5% !important; }
.h--ht-xs_10pr {height: 10% !important; }
.h--ht-xs_15pr {height: 15% !important; }
.h--ht-xs_20pr {height: 20% !important; }
.h--ht-xs_25pr {height: 25% !important; }
.h--ht-xs_30pr {height: 30% !important; }
.h--ht-xs_35pr {height: 35% !important; }
.h--ht-xs_40pr {height: 40% !important; }
.h--ht-xs_45pr {height: 45% !important; }
.h--ht-xs_50pr {height: 50% !important; }
.h--ht-xs_55pr {height: 55% !important; }
.h--ht-xs_60pr {height: 60% !important; }
.h--ht-xs_65pr {height: 65% !important; }
.h--ht-xs_70pr {height: 70% !important; }
.h--ht-xs_75pr {height: 75% !important; }
.h--ht-xs_80pr {height: 80% !important; }
.h--ht-xs_85pr {height: 85% !important; }
.h--ht-xs_90pr {height: 90% !important; }
.h--ht-xs_95pr {height: 95% !important; }
.h--ht-xs_100pr {height: 100% !important; }

/* -------- SM -------- */ 
@media (min-width: $sm) {
	/* px */
	.h--ht-sm_0px {height: 0px !important; }
	.h--ht-sm_5px {height: 5px !important; }
	.h--ht-sm_10px {height: 10px !important; }
	.h--ht-sm_15px {height: 15px !important; }
	.h--ht-sm_20px {height: 20px !important; }
	.h--ht-sm_25px {height: 25px !important; }
	.h--ht-sm_30px {height: 30px !important; }
	.h--ht-sm_35px {height: 35px !important; }
	.h--ht-sm_40px {height: 40px !important; }
	.h--ht-sm_45px {height: 45px !important; }
	.h--ht-sm_50px {height: 50px !important; }
	.h--ht-sm_55px {height: 55px !important; }
	.h--ht-sm_60px {height: 60px !important; }
	.h--ht-sm_65px {height: 65px !important; }
	.h--ht-sm_70px {height: 70px !important; }
	.h--ht-sm_75px {height: 75px !important; }
	.h--ht-sm_80px {height: 80px !important; }
	.h--ht-sm_85px {height: 85px !important; }
	.h--ht-sm_90px {height: 90px !important; }
	.h--ht-sm_95px {height: 95px !important; }
	.h--ht-sm_100px {height: 100px !important; }
	/* % */
	.h--ht-sm_0pr {height: 0% !important; }
	.h--ht-sm_5pr {height: 5% !important; }
	.h--ht-sm_10pr {height: 10% !important; }
	.h--ht-sm_15pr {height: 15% !important; }
	.h--ht-sm_20pr {height: 20% !important; }
	.h--ht-sm_25pr {height: 25% !important; }
	.h--ht-sm_30pr {height: 30% !important; }
	.h--ht-sm_35pr {height: 35% !important; }
	.h--ht-sm_40pr {height: 40% !important; }
	.h--ht-sm_45pr {height: 45% !important; }
	.h--ht-sm_50pr {height: 50% !important; }
	.h--ht-sm_55pr {height: 55% !important; }
	.h--ht-sm_60pr {height: 60% !important; }
	.h--ht-sm_65pr {height: 65% !important; }
	.h--ht-sm_70pr {height: 70% !important; }
	.h--ht-sm_75pr {height: 75% !important; }
	.h--ht-sm_80pr {height: 80% !important; }
	.h--ht-sm_85pr {height: 85% !important; }
	.h--ht-sm_90pr {height: 90% !important; }
	.h--ht-sm_95pr {height: 95% !important; }
	.h--ht-sm_100pr {height: 100% !important; }

}
/* -------- MD -------- */ 
@media (min-width: $md) {
	/* px */
	.h--ht-md_0px {height: 0px !important; }
	.h--ht-md_5px {height: 5px !important; }
	.h--ht-md_10px {height: 10px !important; }
	.h--ht-md_15px {height: 15px !important; }
	.h--ht-md_20px {height: 20px !important; }
	.h--ht-md_25px {height: 25px !important; }
	.h--ht-md_30px {height: 30px !important; }
	.h--ht-md_35px {height: 35px !important; }
	.h--ht-md_40px {height: 40px !important; }
	.h--ht-md_45px {height: 45px !important; }
	.h--ht-md_50px {height: 50px !important; }
	.h--ht-md_55px {height: 55px !important; }
	.h--ht-md_60px {height: 60px !important; }
	.h--ht-md_65px {height: 65px !important; }
	.h--ht-md_70px {height: 70px !important; }
	.h--ht-md_75px {height: 75px !important; }
	.h--ht-md_80px {height: 80px !important; }
	.h--ht-md_85px {height: 85px !important; }
	.h--ht-md_90px {height: 90px !important; }
	.h--ht-md_95px {height: 95px !important; }
	.h--ht-md_100px {height: 100px !important; }
	/* % */
	.h--ht-md_0pr {height: 0% !important; }
	.h--ht-md_5pr {height: 5% !important; }
	.h--ht-md_10pr {height: 10% !important; }
	.h--ht-md_15pr {height: 15% !important; }
	.h--ht-md_20pr {height: 20% !important; }
	.h--ht-md_25pr {height: 25% !important; }
	.h--ht-md_30pr {height: 30% !important; }
	.h--ht-md_35pr {height: 35% !important; }
	.h--ht-md_40pr {height: 40% !important; }
	.h--ht-md_45pr {height: 45% !important; }
	.h--ht-md_50pr {height: 50% !important; }
	.h--ht-md_55pr {height: 55% !important; }
	.h--ht-md_60pr {height: 60% !important; }
	.h--ht-md_65pr {height: 65% !important; }
	.h--ht-md_70pr {height: 70% !important; }
	.h--ht-md_75pr {height: 75% !important; }
	.h--ht-md_80pr {height: 80% !important; }
	.h--ht-md_85pr {height: 85% !important; }
	.h--ht-md_90pr {height: 90% !important; }
	.h--ht-md_95pr {height: 95% !important; }
	.h--ht-md_100pr {height: 100% !important; }

}
/* -------- LG -------- */ 
@media (min-width: $lg) {
	/* px */
	.h--ht-lg_0px {height: 0px !important; }
	.h--ht-lg_5px {height: 5px !important; }
	.h--ht-lg_10px {height: 10px !important; }
	.h--ht-lg_15px {height: 15px !important; }
	.h--ht-lg_20px {height: 20px !important; }
	.h--ht-lg_25px {height: 25px !important; }
	.h--ht-lg_30px {height: 30px !important; }
	.h--ht-lg_35px {height: 35px !important; }
	.h--ht-lg_40px {height: 40px !important; }
	.h--ht-lg_45px {height: 45px !important; }
	.h--ht-lg_50px {height: 50px !important; }
	.h--ht-lg_55px {height: 55px !important; }
	.h--ht-lg_60px {height: 60px !important; }
	.h--ht-lg_65px {height: 65px !important; }
	.h--ht-lg_70px {height: 70px !important; }
	.h--ht-lg_75px {height: 75px !important; }
	.h--ht-lg_80px {height: 80px !important; }
	.h--ht-lg_85px {height: 85px !important; }
	.h--ht-lg_90px {height: 90px !important; }
	.h--ht-lg_95px {height: 95px !important; }
	.h--ht-lg_100px {height: 100px !important; }
	/* % */
	.h--ht-lg_0pr {height: 0% !important; }
	.h--ht-lg_5pr {height: 5% !important; }
	.h--ht-lg_10pr {height: 10% !important; }
	.h--ht-lg_15pr {height: 15% !important; }
	.h--ht-lg_20pr {height: 20% !important; }
	.h--ht-lg_25pr {height: 25% !important; }
	.h--ht-lg_30pr {height: 30% !important; }
	.h--ht-lg_35pr {height: 35% !important; }
	.h--ht-lg_40pr {height: 40% !important; }
	.h--ht-lg_45pr {height: 45% !important; }
	.h--ht-lg_50pr {height: 50% !important; }
	.h--ht-lg_55pr {height: 55% !important; }
	.h--ht-lg_60pr {height: 60% !important; }
	.h--ht-lg_65pr {height: 65% !important; }
	.h--ht-lg_70pr {height: 70% !important; }
	.h--ht-lg_75pr {height: 75% !important; }
	.h--ht-lg_80pr {height: 80% !important; }
	.h--ht-lg_85pr {height: 85% !important; }
	.h--ht-lg_90pr {height: 90% !important; }
	.h--ht-lg_95pr {height: 95% !important; }
	.h--ht-lg_100pr {height: 100% !important; }

}
