/* -------- XS -------- */ 
/* px */
.h--pt-xs_0px {padding-top: 0px !important; }
.h--pt-xs_5px {padding-top: 5px !important; }
.h--pt-xs_10px {padding-top: 10px !important; }
.h--pt-xs_15px {padding-top: 15px !important; }
.h--pt-xs_20px {padding-top: 20px !important; }
.h--pt-xs_25px {padding-top: 25px !important; }
.h--pt-xs_30px {padding-top: 30px !important; }
.h--pt-xs_35px {padding-top: 35px !important; }
.h--pt-xs_40px {padding-top: 40px !important; }
.h--pt-xs_45px {padding-top: 45px !important; }
.h--pt-xs_50px {padding-top: 50px !important; }
.h--pt-xs_55px {padding-top: 55px !important; }
.h--pt-xs_60px {padding-top: 60px !important; }
.h--pt-xs_65px {padding-top: 65px !important; }
.h--pt-xs_70px {padding-top: 70px !important; }
.h--pt-xs_75px {padding-top: 75px !important; }
.h--pt-xs_80px {padding-top: 80px !important; }
.h--pt-xs_85px {padding-top: 85px !important; }
.h--pt-xs_90px {padding-top: 90px !important; }
.h--pt-xs_95px {padding-top: 95px !important; }
.h--pt-xs_100px {padding-top: 100px !important; }
/* % */
.h--pt-xs_0pr {padding-top: 0% !important; }
.h--pt-xs_5pr {padding-top: 5% !important; }
.h--pt-xs_10pr {padding-top: 10% !important; }
.h--pt-xs_15pr {padding-top: 15% !important; }
.h--pt-xs_20pr {padding-top: 20% !important; }
.h--pt-xs_25pr {padding-top: 25% !important; }
.h--pt-xs_30pr {padding-top: 30% !important; }
.h--pt-xs_35pr {padding-top: 35% !important; }
.h--pt-xs_40pr {padding-top: 40% !important; }
.h--pt-xs_45pr {padding-top: 45% !important; }
.h--pt-xs_50pr {padding-top: 50% !important; }
.h--pt-xs_55pr {padding-top: 55% !important; }
.h--pt-xs_60pr {padding-top: 60% !important; }
.h--pt-xs_65pr {padding-top: 65% !important; }
.h--pt-xs_70pr {padding-top: 70% !important; }
.h--pt-xs_75pr {padding-top: 75% !important; }
.h--pt-xs_80pr {padding-top: 80% !important; }
.h--pt-xs_85pr {padding-top: 85% !important; }
.h--pt-xs_90pr {padding-top: 90% !important; }
.h--pt-xs_95pr {padding-top: 95% !important; }
.h--pt-xs_100pr {padding-top: 100% !important; }

/* px */
.h--pb-xs_0px {padding-bottom: 0px !important; }
.h--pb-xs_5px {padding-bottom: 5px !important; }
.h--pb-xs_10px {padding-bottom: 10px !important; }
.h--pb-xs_15px {padding-bottom: 15px !important; }
.h--pb-xs_20px {padding-bottom: 20px !important; }
.h--pb-xs_25px {padding-bottom: 25px !important; }
.h--pb-xs_30px {padding-bottom: 30px !important; }
.h--pb-xs_35px {padding-bottom: 35px !important; }
.h--pb-xs_40px {padding-bottom: 40px !important; }
.h--pb-xs_45px {padding-bottom: 45px !important; }
.h--pb-xs_50px {padding-bottom: 50px !important; }
.h--pb-xs_55px {padding-bottom: 55px !important; }
.h--pb-xs_60px {padding-bottom: 60px !important; }
.h--pb-xs_65px {padding-bottom: 65px !important; }
.h--pb-xs_70px {padding-bottom: 70px !important; }
.h--pb-xs_75px {padding-bottom: 75px !important; }
.h--pb-xs_80px {padding-bottom: 80px !important; }
.h--pb-xs_85px {padding-bottom: 85px !important; }
.h--pb-xs_90px {padding-bottom: 90px !important; }
.h--pb-xs_95px {padding-bottom: 95px !important; }
.h--pb-xs_100px {padding-bottom: 100px !important; }
/* % */
.h--pb-xs_0pr {padding-bottom: 0% !important; }
.h--pb-xs_5pr {padding-bottom: 5% !important; }
.h--pb-xs_10pr {padding-bottom: 10% !important; }
.h--pb-xs_15pr {padding-bottom: 15% !important; }
.h--pb-xs_20pr {padding-bottom: 20% !important; }
.h--pb-xs_25pr {padding-bottom: 25% !important; }
.h--pb-xs_30pr {padding-bottom: 30% !important; }
.h--pb-xs_35pr {padding-bottom: 35% !important; }
.h--pb-xs_40pr {padding-bottom: 40% !important; }
.h--pb-xs_45pr {padding-bottom: 45% !important; }
.h--pb-xs_50pr {padding-bottom: 50% !important; }
.h--pb-xs_55pr {padding-bottom: 55% !important; }
.h--pb-xs_60pr {padding-bottom: 60% !important; }
.h--pb-xs_65pr {padding-bottom: 65% !important; }
.h--pb-xs_70pr {padding-bottom: 70% !important; }
.h--pb-xs_75pr {padding-bottom: 75% !important; }
.h--pb-xs_80pr {padding-bottom: 80% !important; }
.h--pb-xs_85pr {padding-bottom: 85% !important; }
.h--pb-xs_90pr {padding-bottom: 90% !important; }
.h--pb-xs_95pr {padding-bottom: 95% !important; }
.h--pb-xs_100pr {padding-bottom: 100% !important; }

/* px */
.h--pl-xs_0px {padding-left: 0px !important; }
.h--pl-xs_5px {padding-left: 5px !important; }
.h--pl-xs_10px {padding-left: 10px !important; }
.h--pl-xs_15px {padding-left: 15px !important; }
.h--pl-xs_20px {padding-left: 20px !important; }
.h--pl-xs_25px {padding-left: 25px !important; }
.h--pl-xs_30px {padding-left: 30px !important; }
.h--pl-xs_35px {padding-left: 35px !important; }
.h--pl-xs_40px {padding-left: 40px !important; }
.h--pl-xs_45px {padding-left: 45px !important; }
.h--pl-xs_50px {padding-left: 50px !important; }
.h--pl-xs_55px {padding-left: 55px !important; }
.h--pl-xs_60px {padding-left: 60px !important; }
.h--pl-xs_65px {padding-left: 65px !important; }
.h--pl-xs_70px {padding-left: 70px !important; }
.h--pl-xs_75px {padding-left: 75px !important; }
.h--pl-xs_80px {padding-left: 80px !important; }
.h--pl-xs_85px {padding-left: 85px !important; }
.h--pl-xs_90px {padding-left: 90px !important; }
.h--pl-xs_95px {padding-left: 95px !important; }
.h--pl-xs_100px {padding-left: 100px !important; }
/* % */
.h--pl-xs_0pr {padding-left: 0% !important; }
.h--pl-xs_5pr {padding-left: 5% !important; }
.h--pl-xs_10pr {padding-left: 10% !important; }
.h--pl-xs_15pr {padding-left: 15% !important; }
.h--pl-xs_20pr {padding-left: 20% !important; }
.h--pl-xs_25pr {padding-left: 25% !important; }
.h--pl-xs_30pr {padding-left: 30% !important; }
.h--pl-xs_35pr {padding-left: 35% !important; }
.h--pl-xs_40pr {padding-left: 40% !important; }
.h--pl-xs_45pr {padding-left: 45% !important; }
.h--pl-xs_50pr {padding-left: 50% !important; }
.h--pl-xs_55pr {padding-left: 55% !important; }
.h--pl-xs_60pr {padding-left: 60% !important; }
.h--pl-xs_65pr {padding-left: 65% !important; }
.h--pl-xs_70pr {padding-left: 70% !important; }
.h--pl-xs_75pr {padding-left: 75% !important; }
.h--pl-xs_80pr {padding-left: 80% !important; }
.h--pl-xs_85pr {padding-left: 85% !important; }
.h--pl-xs_90pr {padding-left: 90% !important; }
.h--pl-xs_95pr {padding-left: 95% !important; }
.h--pl-xs_100pr {padding-left: 100% !important; }

/* px */
.h--pr-xs_0px {padding-right: 0px !important; }
.h--pr-xs_5px {padding-right: 5px !important; }
.h--pr-xs_10px {padding-right: 10px !important; }
.h--pr-xs_15px {padding-right: 15px !important; }
.h--pr-xs_20px {padding-right: 20px !important; }
.h--pr-xs_25px {padding-right: 25px !important; }
.h--pr-xs_30px {padding-right: 30px !important; }
.h--pr-xs_35px {padding-right: 35px !important; }
.h--pr-xs_40px {padding-right: 40px !important; }
.h--pr-xs_45px {padding-right: 45px !important; }
.h--pr-xs_50px {padding-right: 50px !important; }
.h--pr-xs_55px {padding-right: 55px !important; }
.h--pr-xs_60px {padding-right: 60px !important; }
.h--pr-xs_65px {padding-right: 65px !important; }
.h--pr-xs_70px {padding-right: 70px !important; }
.h--pr-xs_75px {padding-right: 75px !important; }
.h--pr-xs_80px {padding-right: 80px !important; }
.h--pr-xs_85px {padding-right: 85px !important; }
.h--pr-xs_90px {padding-right: 90px !important; }
.h--pr-xs_95px {padding-right: 95px !important; }
.h--pr-xs_100px {padding-right: 100px !important; }
/* % */
.h--pr-xs_0pr {padding-right: 0% !important; }
.h--pr-xs_5pr {padding-right: 5% !important; }
.h--pr-xs_10pr {padding-right: 10% !important; }
.h--pr-xs_15pr {padding-right: 15% !important; }
.h--pr-xs_20pr {padding-right: 20% !important; }
.h--pr-xs_25pr {padding-right: 25% !important; }
.h--pr-xs_30pr {padding-right: 30% !important; }
.h--pr-xs_35pr {padding-right: 35% !important; }
.h--pr-xs_40pr {padding-right: 40% !important; }
.h--pr-xs_45pr {padding-right: 45% !important; }
.h--pr-xs_50pr {padding-right: 50% !important; }
.h--pr-xs_55pr {padding-right: 55% !important; }
.h--pr-xs_60pr {padding-right: 60% !important; }
.h--pr-xs_65pr {padding-right: 65% !important; }
.h--pr-xs_70pr {padding-right: 70% !important; }
.h--pr-xs_75pr {padding-right: 75% !important; }
.h--pr-xs_80pr {padding-right: 80% !important; }
.h--pr-xs_85pr {padding-right: 85% !important; }
.h--pr-xs_90pr {padding-right: 90% !important; }
.h--pr-xs_95pr {padding-right: 95% !important; }
.h--pr-xs_100pr {padding-right: 100% !important; }

/* -------- SM -------- */ 
@media (min-width: $sm) {
	/* px */
	.h--pt-sm_0px {padding-top: 0px !important; }
	.h--pt-sm_5px {padding-top: 5px !important; }
	.h--pt-sm_10px {padding-top: 10px !important; }
	.h--pt-sm_15px {padding-top: 15px !important; }
	.h--pt-sm_20px {padding-top: 20px !important; }
	.h--pt-sm_25px {padding-top: 25px !important; }
	.h--pt-sm_30px {padding-top: 30px !important; }
	.h--pt-sm_35px {padding-top: 35px !important; }
	.h--pt-sm_40px {padding-top: 40px !important; }
	.h--pt-sm_45px {padding-top: 45px !important; }
	.h--pt-sm_50px {padding-top: 50px !important; }
	.h--pt-sm_55px {padding-top: 55px !important; }
	.h--pt-sm_60px {padding-top: 60px !important; }
	.h--pt-sm_65px {padding-top: 65px !important; }
	.h--pt-sm_70px {padding-top: 70px !important; }
	.h--pt-sm_75px {padding-top: 75px !important; }
	.h--pt-sm_80px {padding-top: 80px !important; }
	.h--pt-sm_85px {padding-top: 85px !important; }
	.h--pt-sm_90px {padding-top: 90px !important; }
	.h--pt-sm_95px {padding-top: 95px !important; }
	.h--pt-sm_100px {padding-top: 100px !important; }
	/* % */
	.h--pt-sm_0pr {padding-top: 0% !important; }
	.h--pt-sm_5pr {padding-top: 5% !important; }
	.h--pt-sm_10pr {padding-top: 10% !important; }
	.h--pt-sm_15pr {padding-top: 15% !important; }
	.h--pt-sm_20pr {padding-top: 20% !important; }
	.h--pt-sm_25pr {padding-top: 25% !important; }
	.h--pt-sm_30pr {padding-top: 30% !important; }
	.h--pt-sm_35pr {padding-top: 35% !important; }
	.h--pt-sm_40pr {padding-top: 40% !important; }
	.h--pt-sm_45pr {padding-top: 45% !important; }
	.h--pt-sm_50pr {padding-top: 50% !important; }
	.h--pt-sm_55pr {padding-top: 55% !important; }
	.h--pt-sm_60pr {padding-top: 60% !important; }
	.h--pt-sm_65pr {padding-top: 65% !important; }
	.h--pt-sm_70pr {padding-top: 70% !important; }
	.h--pt-sm_75pr {padding-top: 75% !important; }
	.h--pt-sm_80pr {padding-top: 80% !important; }
	.h--pt-sm_85pr {padding-top: 85% !important; }
	.h--pt-sm_90pr {padding-top: 90% !important; }
	.h--pt-sm_95pr {padding-top: 95% !important; }
	.h--pt-sm_100pr {padding-top: 100% !important; }

	/* px */
	.h--pb-sm_0px {padding-bottom: 0px !important; }
	.h--pb-sm_5px {padding-bottom: 5px !important; }
	.h--pb-sm_10px {padding-bottom: 10px !important; }
	.h--pb-sm_15px {padding-bottom: 15px !important; }
	.h--pb-sm_20px {padding-bottom: 20px !important; }
	.h--pb-sm_25px {padding-bottom: 25px !important; }
	.h--pb-sm_30px {padding-bottom: 30px !important; }
	.h--pb-sm_35px {padding-bottom: 35px !important; }
	.h--pb-sm_40px {padding-bottom: 40px !important; }
	.h--pb-sm_45px {padding-bottom: 45px !important; }
	.h--pb-sm_50px {padding-bottom: 50px !important; }
	.h--pb-sm_55px {padding-bottom: 55px !important; }
	.h--pb-sm_60px {padding-bottom: 60px !important; }
	.h--pb-sm_65px {padding-bottom: 65px !important; }
	.h--pb-sm_70px {padding-bottom: 70px !important; }
	.h--pb-sm_75px {padding-bottom: 75px !important; }
	.h--pb-sm_80px {padding-bottom: 80px !important; }
	.h--pb-sm_85px {padding-bottom: 85px !important; }
	.h--pb-sm_90px {padding-bottom: 90px !important; }
	.h--pb-sm_95px {padding-bottom: 95px !important; }
	.h--pb-sm_100px {padding-bottom: 100px !important; }
	/* % */
	.h--pb-sm_0pr {padding-bottom: 0% !important; }
	.h--pb-sm_5pr {padding-bottom: 5% !important; }
	.h--pb-sm_10pr {padding-bottom: 10% !important; }
	.h--pb-sm_15pr {padding-bottom: 15% !important; }
	.h--pb-sm_20pr {padding-bottom: 20% !important; }
	.h--pb-sm_25pr {padding-bottom: 25% !important; }
	.h--pb-sm_30pr {padding-bottom: 30% !important; }
	.h--pb-sm_35pr {padding-bottom: 35% !important; }
	.h--pb-sm_40pr {padding-bottom: 40% !important; }
	.h--pb-sm_45pr {padding-bottom: 45% !important; }
	.h--pb-sm_50pr {padding-bottom: 50% !important; }
	.h--pb-sm_55pr {padding-bottom: 55% !important; }
	.h--pb-sm_60pr {padding-bottom: 60% !important; }
	.h--pb-sm_65pr {padding-bottom: 65% !important; }
	.h--pb-sm_70pr {padding-bottom: 70% !important; }
	.h--pb-sm_75pr {padding-bottom: 75% !important; }
	.h--pb-sm_80pr {padding-bottom: 80% !important; }
	.h--pb-sm_85pr {padding-bottom: 85% !important; }
	.h--pb-sm_90pr {padding-bottom: 90% !important; }
	.h--pb-sm_95pr {padding-bottom: 95% !important; }
	.h--pb-sm_100pr {padding-bottom: 100% !important; }

	/* px */
	.h--pl-sm_0px {padding-left: 0px !important; }
	.h--pl-sm_5px {padding-left: 5px !important; }
	.h--pl-sm_10px {padding-left: 10px !important; }
	.h--pl-sm_15px {padding-left: 15px !important; }
	.h--pl-sm_20px {padding-left: 20px !important; }
	.h--pl-sm_25px {padding-left: 25px !important; }
	.h--pl-sm_30px {padding-left: 30px !important; }
	.h--pl-sm_35px {padding-left: 35px !important; }
	.h--pl-sm_40px {padding-left: 40px !important; }
	.h--pl-sm_45px {padding-left: 45px !important; }
	.h--pl-sm_50px {padding-left: 50px !important; }
	.h--pl-sm_55px {padding-left: 55px !important; }
	.h--pl-sm_60px {padding-left: 60px !important; }
	.h--pl-sm_65px {padding-left: 65px !important; }
	.h--pl-sm_70px {padding-left: 70px !important; }
	.h--pl-sm_75px {padding-left: 75px !important; }
	.h--pl-sm_80px {padding-left: 80px !important; }
	.h--pl-sm_85px {padding-left: 85px !important; }
	.h--pl-sm_90px {padding-left: 90px !important; }
	.h--pl-sm_95px {padding-left: 95px !important; }
	.h--pl-sm_100px {padding-left: 100px !important; }
	/* % */
	.h--pl-sm_0pr {padding-left: 0% !important; }
	.h--pl-sm_5pr {padding-left: 5% !important; }
	.h--pl-sm_10pr {padding-left: 10% !important; }
	.h--pl-sm_15pr {padding-left: 15% !important; }
	.h--pl-sm_20pr {padding-left: 20% !important; }
	.h--pl-sm_25pr {padding-left: 25% !important; }
	.h--pl-sm_30pr {padding-left: 30% !important; }
	.h--pl-sm_35pr {padding-left: 35% !important; }
	.h--pl-sm_40pr {padding-left: 40% !important; }
	.h--pl-sm_45pr {padding-left: 45% !important; }
	.h--pl-sm_50pr {padding-left: 50% !important; }
	.h--pl-sm_55pr {padding-left: 55% !important; }
	.h--pl-sm_60pr {padding-left: 60% !important; }
	.h--pl-sm_65pr {padding-left: 65% !important; }
	.h--pl-sm_70pr {padding-left: 70% !important; }
	.h--pl-sm_75pr {padding-left: 75% !important; }
	.h--pl-sm_80pr {padding-left: 80% !important; }
	.h--pl-sm_85pr {padding-left: 85% !important; }
	.h--pl-sm_90pr {padding-left: 90% !important; }
	.h--pl-sm_95pr {padding-left: 95% !important; }
	.h--pl-sm_100pr {padding-left: 100% !important; }

	/* px */
	.h--pr-sm_0px {padding-right: 0px !important; }
	.h--pr-sm_5px {padding-right: 5px !important; }
	.h--pr-sm_10px {padding-right: 10px !important; }
	.h--pr-sm_15px {padding-right: 15px !important; }
	.h--pr-sm_20px {padding-right: 20px !important; }
	.h--pr-sm_25px {padding-right: 25px !important; }
	.h--pr-sm_30px {padding-right: 30px !important; }
	.h--pr-sm_35px {padding-right: 35px !important; }
	.h--pr-sm_40px {padding-right: 40px !important; }
	.h--pr-sm_45px {padding-right: 45px !important; }
	.h--pr-sm_50px {padding-right: 50px !important; }
	.h--pr-sm_55px {padding-right: 55px !important; }
	.h--pr-sm_60px {padding-right: 60px !important; }
	.h--pr-sm_65px {padding-right: 65px !important; }
	.h--pr-sm_70px {padding-right: 70px !important; }
	.h--pr-sm_75px {padding-right: 75px !important; }
	.h--pr-sm_80px {padding-right: 80px !important; }
	.h--pr-sm_85px {padding-right: 85px !important; }
	.h--pr-sm_90px {padding-right: 90px !important; }
	.h--pr-sm_95px {padding-right: 95px !important; }
	.h--pr-sm_100px {padding-right: 100px !important; }
	/* % */
	.h--pr-sm_0pr {padding-right: 0% !important; }
	.h--pr-sm_5pr {padding-right: 5% !important; }
	.h--pr-sm_10pr {padding-right: 10% !important; }
	.h--pr-sm_15pr {padding-right: 15% !important; }
	.h--pr-sm_20pr {padding-right: 20% !important; }
	.h--pr-sm_25pr {padding-right: 25% !important; }
	.h--pr-sm_30pr {padding-right: 30% !important; }
	.h--pr-sm_35pr {padding-right: 35% !important; }
	.h--pr-sm_40pr {padding-right: 40% !important; }
	.h--pr-sm_45pr {padding-right: 45% !important; }
	.h--pr-sm_50pr {padding-right: 50% !important; }
	.h--pr-sm_55pr {padding-right: 55% !important; }
	.h--pr-sm_60pr {padding-right: 60% !important; }
	.h--pr-sm_65pr {padding-right: 65% !important; }
	.h--pr-sm_70pr {padding-right: 70% !important; }
	.h--pr-sm_75pr {padding-right: 75% !important; }
	.h--pr-sm_80pr {padding-right: 80% !important; }
	.h--pr-sm_85pr {padding-right: 85% !important; }
	.h--pr-sm_90pr {padding-right: 90% !important; }
	.h--pr-sm_95pr {padding-right: 95% !important; }
	.h--pr-sm_100pr {padding-right: 100% !important; }

}
/* -------- MD -------- */ 
@media (min-width: $md) {
	/* px */
	.h--pt-md_0px {padding-top: 0px !important; }
	.h--pt-md_5px {padding-top: 5px !important; }
	.h--pt-md_10px {padding-top: 10px !important; }
	.h--pt-md_15px {padding-top: 15px !important; }
	.h--pt-md_20px {padding-top: 20px !important; }
	.h--pt-md_25px {padding-top: 25px !important; }
	.h--pt-md_30px {padding-top: 30px !important; }
	.h--pt-md_35px {padding-top: 35px !important; }
	.h--pt-md_40px {padding-top: 40px !important; }
	.h--pt-md_45px {padding-top: 45px !important; }
	.h--pt-md_50px {padding-top: 50px !important; }
	.h--pt-md_55px {padding-top: 55px !important; }
	.h--pt-md_60px {padding-top: 60px !important; }
	.h--pt-md_65px {padding-top: 65px !important; }
	.h--pt-md_70px {padding-top: 70px !important; }
	.h--pt-md_75px {padding-top: 75px !important; }
	.h--pt-md_80px {padding-top: 80px !important; }
	.h--pt-md_85px {padding-top: 85px !important; }
	.h--pt-md_90px {padding-top: 90px !important; }
	.h--pt-md_95px {padding-top: 95px !important; }
	.h--pt-md_100px {padding-top: 100px !important; }
	/* % */
	.h--pt-md_0pr {padding-top: 0% !important; }
	.h--pt-md_5pr {padding-top: 5% !important; }
	.h--pt-md_10pr {padding-top: 10% !important; }
	.h--pt-md_15pr {padding-top: 15% !important; }
	.h--pt-md_20pr {padding-top: 20% !important; }
	.h--pt-md_25pr {padding-top: 25% !important; }
	.h--pt-md_30pr {padding-top: 30% !important; }
	.h--pt-md_35pr {padding-top: 35% !important; }
	.h--pt-md_40pr {padding-top: 40% !important; }
	.h--pt-md_45pr {padding-top: 45% !important; }
	.h--pt-md_50pr {padding-top: 50% !important; }
	.h--pt-md_55pr {padding-top: 55% !important; }
	.h--pt-md_60pr {padding-top: 60% !important; }
	.h--pt-md_65pr {padding-top: 65% !important; }
	.h--pt-md_70pr {padding-top: 70% !important; }
	.h--pt-md_75pr {padding-top: 75% !important; }
	.h--pt-md_80pr {padding-top: 80% !important; }
	.h--pt-md_85pr {padding-top: 85% !important; }
	.h--pt-md_90pr {padding-top: 90% !important; }
	.h--pt-md_95pr {padding-top: 95% !important; }
	.h--pt-md_100pr {padding-top: 100% !important; }

	/* px */
	.h--pb-md_0px {padding-bottom: 0px !important; }
	.h--pb-md_5px {padding-bottom: 5px !important; }
	.h--pb-md_10px {padding-bottom: 10px !important; }
	.h--pb-md_15px {padding-bottom: 15px !important; }
	.h--pb-md_20px {padding-bottom: 20px !important; }
	.h--pb-md_25px {padding-bottom: 25px !important; }
	.h--pb-md_30px {padding-bottom: 30px !important; }
	.h--pb-md_35px {padding-bottom: 35px !important; }
	.h--pb-md_40px {padding-bottom: 40px !important; }
	.h--pb-md_45px {padding-bottom: 45px !important; }
	.h--pb-md_50px {padding-bottom: 50px !important; }
	.h--pb-md_55px {padding-bottom: 55px !important; }
	.h--pb-md_60px {padding-bottom: 60px !important; }
	.h--pb-md_65px {padding-bottom: 65px !important; }
	.h--pb-md_70px {padding-bottom: 70px !important; }
	.h--pb-md_75px {padding-bottom: 75px !important; }
	.h--pb-md_80px {padding-bottom: 80px !important; }
	.h--pb-md_85px {padding-bottom: 85px !important; }
	.h--pb-md_90px {padding-bottom: 90px !important; }
	.h--pb-md_95px {padding-bottom: 95px !important; }
	.h--pb-md_100px {padding-bottom: 100px !important; }
	/* % */
	.h--pb-md_0pr {padding-bottom: 0% !important; }
	.h--pb-md_5pr {padding-bottom: 5% !important; }
	.h--pb-md_10pr {padding-bottom: 10% !important; }
	.h--pb-md_15pr {padding-bottom: 15% !important; }
	.h--pb-md_20pr {padding-bottom: 20% !important; }
	.h--pb-md_25pr {padding-bottom: 25% !important; }
	.h--pb-md_30pr {padding-bottom: 30% !important; }
	.h--pb-md_35pr {padding-bottom: 35% !important; }
	.h--pb-md_40pr {padding-bottom: 40% !important; }
	.h--pb-md_45pr {padding-bottom: 45% !important; }
	.h--pb-md_50pr {padding-bottom: 50% !important; }
	.h--pb-md_55pr {padding-bottom: 55% !important; }
	.h--pb-md_60pr {padding-bottom: 60% !important; }
	.h--pb-md_65pr {padding-bottom: 65% !important; }
	.h--pb-md_70pr {padding-bottom: 70% !important; }
	.h--pb-md_75pr {padding-bottom: 75% !important; }
	.h--pb-md_80pr {padding-bottom: 80% !important; }
	.h--pb-md_85pr {padding-bottom: 85% !important; }
	.h--pb-md_90pr {padding-bottom: 90% !important; }
	.h--pb-md_95pr {padding-bottom: 95% !important; }
	.h--pb-md_100pr {padding-bottom: 100% !important; }

	/* px */
	.h--pl-md_0px {padding-left: 0px !important; }
	.h--pl-md_5px {padding-left: 5px !important; }
	.h--pl-md_10px {padding-left: 10px !important; }
	.h--pl-md_15px {padding-left: 15px !important; }
	.h--pl-md_20px {padding-left: 20px !important; }
	.h--pl-md_25px {padding-left: 25px !important; }
	.h--pl-md_30px {padding-left: 30px !important; }
	.h--pl-md_35px {padding-left: 35px !important; }
	.h--pl-md_40px {padding-left: 40px !important; }
	.h--pl-md_45px {padding-left: 45px !important; }
	.h--pl-md_50px {padding-left: 50px !important; }
	.h--pl-md_55px {padding-left: 55px !important; }
	.h--pl-md_60px {padding-left: 60px !important; }
	.h--pl-md_65px {padding-left: 65px !important; }
	.h--pl-md_70px {padding-left: 70px !important; }
	.h--pl-md_75px {padding-left: 75px !important; }
	.h--pl-md_80px {padding-left: 80px !important; }
	.h--pl-md_85px {padding-left: 85px !important; }
	.h--pl-md_90px {padding-left: 90px !important; }
	.h--pl-md_95px {padding-left: 95px !important; }
	.h--pl-md_100px {padding-left: 100px !important; }
	/* % */
	.h--pl-md_0pr {padding-left: 0% !important; }
	.h--pl-md_5pr {padding-left: 5% !important; }
	.h--pl-md_10pr {padding-left: 10% !important; }
	.h--pl-md_15pr {padding-left: 15% !important; }
	.h--pl-md_20pr {padding-left: 20% !important; }
	.h--pl-md_25pr {padding-left: 25% !important; }
	.h--pl-md_30pr {padding-left: 30% !important; }
	.h--pl-md_35pr {padding-left: 35% !important; }
	.h--pl-md_40pr {padding-left: 40% !important; }
	.h--pl-md_45pr {padding-left: 45% !important; }
	.h--pl-md_50pr {padding-left: 50% !important; }
	.h--pl-md_55pr {padding-left: 55% !important; }
	.h--pl-md_60pr {padding-left: 60% !important; }
	.h--pl-md_65pr {padding-left: 65% !important; }
	.h--pl-md_70pr {padding-left: 70% !important; }
	.h--pl-md_75pr {padding-left: 75% !important; }
	.h--pl-md_80pr {padding-left: 80% !important; }
	.h--pl-md_85pr {padding-left: 85% !important; }
	.h--pl-md_90pr {padding-left: 90% !important; }
	.h--pl-md_95pr {padding-left: 95% !important; }
	.h--pl-md_100pr {padding-left: 100% !important; }

	/* px */
	.h--pr-md_0px {padding-right: 0px !important; }
	.h--pr-md_5px {padding-right: 5px !important; }
	.h--pr-md_10px {padding-right: 10px !important; }
	.h--pr-md_15px {padding-right: 15px !important; }
	.h--pr-md_20px {padding-right: 20px !important; }
	.h--pr-md_25px {padding-right: 25px !important; }
	.h--pr-md_30px {padding-right: 30px !important; }
	.h--pr-md_35px {padding-right: 35px !important; }
	.h--pr-md_40px {padding-right: 40px !important; }
	.h--pr-md_45px {padding-right: 45px !important; }
	.h--pr-md_50px {padding-right: 50px !important; }
	.h--pr-md_55px {padding-right: 55px !important; }
	.h--pr-md_60px {padding-right: 60px !important; }
	.h--pr-md_65px {padding-right: 65px !important; }
	.h--pr-md_70px {padding-right: 70px !important; }
	.h--pr-md_75px {padding-right: 75px !important; }
	.h--pr-md_80px {padding-right: 80px !important; }
	.h--pr-md_85px {padding-right: 85px !important; }
	.h--pr-md_90px {padding-right: 90px !important; }
	.h--pr-md_95px {padding-right: 95px !important; }
	.h--pr-md_100px {padding-right: 100px !important; }
	/* % */
	.h--pr-md_0pr {padding-right: 0% !important; }
	.h--pr-md_5pr {padding-right: 5% !important; }
	.h--pr-md_10pr {padding-right: 10% !important; }
	.h--pr-md_15pr {padding-right: 15% !important; }
	.h--pr-md_20pr {padding-right: 20% !important; }
	.h--pr-md_25pr {padding-right: 25% !important; }
	.h--pr-md_30pr {padding-right: 30% !important; }
	.h--pr-md_35pr {padding-right: 35% !important; }
	.h--pr-md_40pr {padding-right: 40% !important; }
	.h--pr-md_45pr {padding-right: 45% !important; }
	.h--pr-md_50pr {padding-right: 50% !important; }
	.h--pr-md_55pr {padding-right: 55% !important; }
	.h--pr-md_60pr {padding-right: 60% !important; }
	.h--pr-md_65pr {padding-right: 65% !important; }
	.h--pr-md_70pr {padding-right: 70% !important; }
	.h--pr-md_75pr {padding-right: 75% !important; }
	.h--pr-md_80pr {padding-right: 80% !important; }
	.h--pr-md_85pr {padding-right: 85% !important; }
	.h--pr-md_90pr {padding-right: 90% !important; }
	.h--pr-md_95pr {padding-right: 95% !important; }
	.h--pr-md_100pr {padding-right: 100% !important; }

}
/* -------- LG -------- */ 
@media (min-width: $lg) {
	/* px */
	.h--pt-lg_0px {padding-top: 0px !important; }
	.h--pt-lg_5px {padding-top: 5px !important; }
	.h--pt-lg_10px {padding-top: 10px !important; }
	.h--pt-lg_15px {padding-top: 15px !important; }
	.h--pt-lg_20px {padding-top: 20px !important; }
	.h--pt-lg_25px {padding-top: 25px !important; }
	.h--pt-lg_30px {padding-top: 30px !important; }
	.h--pt-lg_35px {padding-top: 35px !important; }
	.h--pt-lg_40px {padding-top: 40px !important; }
	.h--pt-lg_45px {padding-top: 45px !important; }
	.h--pt-lg_50px {padding-top: 50px !important; }
	.h--pt-lg_55px {padding-top: 55px !important; }
	.h--pt-lg_60px {padding-top: 60px !important; }
	.h--pt-lg_65px {padding-top: 65px !important; }
	.h--pt-lg_70px {padding-top: 70px !important; }
	.h--pt-lg_75px {padding-top: 75px !important; }
	.h--pt-lg_80px {padding-top: 80px !important; }
	.h--pt-lg_85px {padding-top: 85px !important; }
	.h--pt-lg_90px {padding-top: 90px !important; }
	.h--pt-lg_95px {padding-top: 95px !important; }
	.h--pt-lg_100px {padding-top: 100px !important; }
	/* % */
	.h--pt-lg_0pr {padding-top: 0% !important; }
	.h--pt-lg_5pr {padding-top: 5% !important; }
	.h--pt-lg_10pr {padding-top: 10% !important; }
	.h--pt-lg_15pr {padding-top: 15% !important; }
	.h--pt-lg_20pr {padding-top: 20% !important; }
	.h--pt-lg_25pr {padding-top: 25% !important; }
	.h--pt-lg_30pr {padding-top: 30% !important; }
	.h--pt-lg_35pr {padding-top: 35% !important; }
	.h--pt-lg_40pr {padding-top: 40% !important; }
	.h--pt-lg_45pr {padding-top: 45% !important; }
	.h--pt-lg_50pr {padding-top: 50% !important; }
	.h--pt-lg_55pr {padding-top: 55% !important; }
	.h--pt-lg_60pr {padding-top: 60% !important; }
	.h--pt-lg_65pr {padding-top: 65% !important; }
	.h--pt-lg_70pr {padding-top: 70% !important; }
	.h--pt-lg_75pr {padding-top: 75% !important; }
	.h--pt-lg_80pr {padding-top: 80% !important; }
	.h--pt-lg_85pr {padding-top: 85% !important; }
	.h--pt-lg_90pr {padding-top: 90% !important; }
	.h--pt-lg_95pr {padding-top: 95% !important; }
	.h--pt-lg_100pr {padding-top: 100% !important; }

	/* px */
	.h--pb-lg_0px {padding-bottom: 0px !important; }
	.h--pb-lg_5px {padding-bottom: 5px !important; }
	.h--pb-lg_10px {padding-bottom: 10px !important; }
	.h--pb-lg_15px {padding-bottom: 15px !important; }
	.h--pb-lg_20px {padding-bottom: 20px !important; }
	.h--pb-lg_25px {padding-bottom: 25px !important; }
	.h--pb-lg_30px {padding-bottom: 30px !important; }
	.h--pb-lg_35px {padding-bottom: 35px !important; }
	.h--pb-lg_40px {padding-bottom: 40px !important; }
	.h--pb-lg_45px {padding-bottom: 45px !important; }
	.h--pb-lg_50px {padding-bottom: 50px !important; }
	.h--pb-lg_55px {padding-bottom: 55px !important; }
	.h--pb-lg_60px {padding-bottom: 60px !important; }
	.h--pb-lg_65px {padding-bottom: 65px !important; }
	.h--pb-lg_70px {padding-bottom: 70px !important; }
	.h--pb-lg_75px {padding-bottom: 75px !important; }
	.h--pb-lg_80px {padding-bottom: 80px !important; }
	.h--pb-lg_85px {padding-bottom: 85px !important; }
	.h--pb-lg_90px {padding-bottom: 90px !important; }
	.h--pb-lg_95px {padding-bottom: 95px !important; }
	.h--pb-lg_100px {padding-bottom: 100px !important; }
	/* % */
	.h--pb-lg_0pr {padding-bottom: 0% !important; }
	.h--pb-lg_5pr {padding-bottom: 5% !important; }
	.h--pb-lg_10pr {padding-bottom: 10% !important; }
	.h--pb-lg_15pr {padding-bottom: 15% !important; }
	.h--pb-lg_20pr {padding-bottom: 20% !important; }
	.h--pb-lg_25pr {padding-bottom: 25% !important; }
	.h--pb-lg_30pr {padding-bottom: 30% !important; }
	.h--pb-lg_35pr {padding-bottom: 35% !important; }
	.h--pb-lg_40pr {padding-bottom: 40% !important; }
	.h--pb-lg_45pr {padding-bottom: 45% !important; }
	.h--pb-lg_50pr {padding-bottom: 50% !important; }
	.h--pb-lg_55pr {padding-bottom: 55% !important; }
	.h--pb-lg_60pr {padding-bottom: 60% !important; }
	.h--pb-lg_65pr {padding-bottom: 65% !important; }
	.h--pb-lg_70pr {padding-bottom: 70% !important; }
	.h--pb-lg_75pr {padding-bottom: 75% !important; }
	.h--pb-lg_80pr {padding-bottom: 80% !important; }
	.h--pb-lg_85pr {padding-bottom: 85% !important; }
	.h--pb-lg_90pr {padding-bottom: 90% !important; }
	.h--pb-lg_95pr {padding-bottom: 95% !important; }
	.h--pb-lg_100pr {padding-bottom: 100% !important; }

	/* px */
	.h--pl-lg_0px {padding-left: 0px !important; }
	.h--pl-lg_5px {padding-left: 5px !important; }
	.h--pl-lg_10px {padding-left: 10px !important; }
	.h--pl-lg_15px {padding-left: 15px !important; }
	.h--pl-lg_20px {padding-left: 20px !important; }
	.h--pl-lg_25px {padding-left: 25px !important; }
	.h--pl-lg_30px {padding-left: 30px !important; }
	.h--pl-lg_35px {padding-left: 35px !important; }
	.h--pl-lg_40px {padding-left: 40px !important; }
	.h--pl-lg_45px {padding-left: 45px !important; }
	.h--pl-lg_50px {padding-left: 50px !important; }
	.h--pl-lg_55px {padding-left: 55px !important; }
	.h--pl-lg_60px {padding-left: 60px !important; }
	.h--pl-lg_65px {padding-left: 65px !important; }
	.h--pl-lg_70px {padding-left: 70px !important; }
	.h--pl-lg_75px {padding-left: 75px !important; }
	.h--pl-lg_80px {padding-left: 80px !important; }
	.h--pl-lg_85px {padding-left: 85px !important; }
	.h--pl-lg_90px {padding-left: 90px !important; }
	.h--pl-lg_95px {padding-left: 95px !important; }
	.h--pl-lg_100px {padding-left: 100px !important; }
	/* % */
	.h--pl-lg_0pr {padding-left: 0% !important; }
	.h--pl-lg_5pr {padding-left: 5% !important; }
	.h--pl-lg_10pr {padding-left: 10% !important; }
	.h--pl-lg_15pr {padding-left: 15% !important; }
	.h--pl-lg_20pr {padding-left: 20% !important; }
	.h--pl-lg_25pr {padding-left: 25% !important; }
	.h--pl-lg_30pr {padding-left: 30% !important; }
	.h--pl-lg_35pr {padding-left: 35% !important; }
	.h--pl-lg_40pr {padding-left: 40% !important; }
	.h--pl-lg_45pr {padding-left: 45% !important; }
	.h--pl-lg_50pr {padding-left: 50% !important; }
	.h--pl-lg_55pr {padding-left: 55% !important; }
	.h--pl-lg_60pr {padding-left: 60% !important; }
	.h--pl-lg_65pr {padding-left: 65% !important; }
	.h--pl-lg_70pr {padding-left: 70% !important; }
	.h--pl-lg_75pr {padding-left: 75% !important; }
	.h--pl-lg_80pr {padding-left: 80% !important; }
	.h--pl-lg_85pr {padding-left: 85% !important; }
	.h--pl-lg_90pr {padding-left: 90% !important; }
	.h--pl-lg_95pr {padding-left: 95% !important; }
	.h--pl-lg_100pr {padding-left: 100% !important; }

	/* px */
	.h--pr-lg_0px {padding-right: 0px !important; }
	.h--pr-lg_5px {padding-right: 5px !important; }
	.h--pr-lg_10px {padding-right: 10px !important; }
	.h--pr-lg_15px {padding-right: 15px !important; }
	.h--pr-lg_20px {padding-right: 20px !important; }
	.h--pr-lg_25px {padding-right: 25px !important; }
	.h--pr-lg_30px {padding-right: 30px !important; }
	.h--pr-lg_35px {padding-right: 35px !important; }
	.h--pr-lg_40px {padding-right: 40px !important; }
	.h--pr-lg_45px {padding-right: 45px !important; }
	.h--pr-lg_50px {padding-right: 50px !important; }
	.h--pr-lg_55px {padding-right: 55px !important; }
	.h--pr-lg_60px {padding-right: 60px !important; }
	.h--pr-lg_65px {padding-right: 65px !important; }
	.h--pr-lg_70px {padding-right: 70px !important; }
	.h--pr-lg_75px {padding-right: 75px !important; }
	.h--pr-lg_80px {padding-right: 80px !important; }
	.h--pr-lg_85px {padding-right: 85px !important; }
	.h--pr-lg_90px {padding-right: 90px !important; }
	.h--pr-lg_95px {padding-right: 95px !important; }
	.h--pr-lg_100px {padding-right: 100px !important; }
	/* % */
	.h--pr-lg_0pr {padding-right: 0% !important; }
	.h--pr-lg_5pr {padding-right: 5% !important; }
	.h--pr-lg_10pr {padding-right: 10% !important; }
	.h--pr-lg_15pr {padding-right: 15% !important; }
	.h--pr-lg_20pr {padding-right: 20% !important; }
	.h--pr-lg_25pr {padding-right: 25% !important; }
	.h--pr-lg_30pr {padding-right: 30% !important; }
	.h--pr-lg_35pr {padding-right: 35% !important; }
	.h--pr-lg_40pr {padding-right: 40% !important; }
	.h--pr-lg_45pr {padding-right: 45% !important; }
	.h--pr-lg_50pr {padding-right: 50% !important; }
	.h--pr-lg_55pr {padding-right: 55% !important; }
	.h--pr-lg_60pr {padding-right: 60% !important; }
	.h--pr-lg_65pr {padding-right: 65% !important; }
	.h--pr-lg_70pr {padding-right: 70% !important; }
	.h--pr-lg_75pr {padding-right: 75% !important; }
	.h--pr-lg_80pr {padding-right: 80% !important; }
	.h--pr-lg_85pr {padding-right: 85% !important; }
	.h--pr-lg_90pr {padding-right: 90% !important; }
	.h--pr-lg_95pr {padding-right: 95% !important; }
	.h--pr-lg_100pr {padding-right: 100% !important; }

}
