/* -------- XS -------- */ 
/* px */
.h--wd-xs_0px {width: 0px !important; }
.h--wd-xs_5px {width: 5px !important; }
.h--wd-xs_10px {width: 10px !important; }
.h--wd-xs_15px {width: 15px !important; }
.h--wd-xs_20px {width: 20px !important; }
.h--wd-xs_25px {width: 25px !important; }
.h--wd-xs_30px {width: 30px !important; }
.h--wd-xs_35px {width: 35px !important; }
.h--wd-xs_40px {width: 40px !important; }
.h--wd-xs_45px {width: 45px !important; }
.h--wd-xs_50px {width: 50px !important; }
.h--wd-xs_55px {width: 55px !important; }
.h--wd-xs_60px {width: 60px !important; }
.h--wd-xs_65px {width: 65px !important; }
.h--wd-xs_70px {width: 70px !important; }
.h--wd-xs_75px {width: 75px !important; }
.h--wd-xs_80px {width: 80px !important; }
.h--wd-xs_85px {width: 85px !important; }
.h--wd-xs_90px {width: 90px !important; }
.h--wd-xs_95px {width: 95px !important; }
.h--wd-xs_100px {width: 100px !important; }
/* % */
.h--wd-xs_0pr {width: 0% !important; }
.h--wd-xs_5pr {width: 5% !important; }
.h--wd-xs_10pr {width: 10% !important; }
.h--wd-xs_15pr {width: 15% !important; }
.h--wd-xs_20pr {width: 20% !important; }
.h--wd-xs_25pr {width: 25% !important; }
.h--wd-xs_30pr {width: 30% !important; }
.h--wd-xs_35pr {width: 35% !important; }
.h--wd-xs_40pr {width: 40% !important; }
.h--wd-xs_45pr {width: 45% !important; }
.h--wd-xs_50pr {width: 50% !important; }
.h--wd-xs_55pr {width: 55% !important; }
.h--wd-xs_60pr {width: 60% !important; }
.h--wd-xs_65pr {width: 65% !important; }
.h--wd-xs_70pr {width: 70% !important; }
.h--wd-xs_75pr {width: 75% !important; }
.h--wd-xs_80pr {width: 80% !important; }
.h--wd-xs_85pr {width: 85% !important; }
.h--wd-xs_90pr {width: 90% !important; }
.h--wd-xs_95pr {width: 95% !important; }
.h--wd-xs_100pr {width: 100% !important; }

/* px */
.h--min-wd-xs_0px {min-width: 0px !important; }
.h--min-wd-xs_5px {min-width: 5px !important; }
.h--min-wd-xs_10px {min-width: 10px !important; }
.h--min-wd-xs_15px {min-width: 15px !important; }
.h--min-wd-xs_20px {min-width: 20px !important; }
.h--min-wd-xs_25px {min-width: 25px !important; }
.h--min-wd-xs_30px {min-width: 30px !important; }
.h--min-wd-xs_35px {min-width: 35px !important; }
.h--min-wd-xs_40px {min-width: 40px !important; }
.h--min-wd-xs_45px {min-width: 45px !important; }
.h--min-wd-xs_50px {min-width: 50px !important; }
.h--min-wd-xs_55px {min-width: 55px !important; }
.h--min-wd-xs_60px {min-width: 60px !important; }
.h--min-wd-xs_65px {min-width: 65px !important; }
.h--min-wd-xs_70px {min-width: 70px !important; }
.h--min-wd-xs_75px {min-width: 75px !important; }
.h--min-wd-xs_80px {min-width: 80px !important; }
.h--min-wd-xs_85px {min-width: 85px !important; }
.h--min-wd-xs_90px {min-width: 90px !important; }
.h--min-wd-xs_95px {min-width: 95px !important; }
.h--min-wd-xs_100px {min-width: 100px !important; }
/* % */
.h--min-wd-xs_0pr {min-width: 0% !important; }
.h--min-wd-xs_5pr {min-width: 5% !important; }
.h--min-wd-xs_10pr {min-width: 10% !important; }
.h--min-wd-xs_15pr {min-width: 15% !important; }
.h--min-wd-xs_20pr {min-width: 20% !important; }
.h--min-wd-xs_25pr {min-width: 25% !important; }
.h--min-wd-xs_30pr {min-width: 30% !important; }
.h--min-wd-xs_35pr {min-width: 35% !important; }
.h--min-wd-xs_40pr {min-width: 40% !important; }
.h--min-wd-xs_45pr {min-width: 45% !important; }
.h--min-wd-xs_50pr {min-width: 50% !important; }
.h--min-wd-xs_55pr {min-width: 55% !important; }
.h--min-wd-xs_60pr {min-width: 60% !important; }
.h--min-wd-xs_65pr {min-width: 65% !important; }
.h--min-wd-xs_70pr {min-width: 70% !important; }
.h--min-wd-xs_75pr {min-width: 75% !important; }
.h--min-wd-xs_80pr {min-width: 80% !important; }
.h--min-wd-xs_85pr {min-width: 85% !important; }
.h--min-wd-xs_90pr {min-width: 90% !important; }
.h--min-wd-xs_95pr {min-width: 95% !important; }
.h--min-wd-xs_100pr {min-width: 100% !important; }

/* px */
.h--max-wd-xs_0px {max-width: 0px !important; }
.h--max-wd-xs_5px {max-width: 5px !important; }
.h--max-wd-xs_10px {max-width: 10px !important; }
.h--max-wd-xs_15px {max-width: 15px !important; }
.h--max-wd-xs_20px {max-width: 20px !important; }
.h--max-wd-xs_25px {max-width: 25px !important; }
.h--max-wd-xs_30px {max-width: 30px !important; }
.h--max-wd-xs_35px {max-width: 35px !important; }
.h--max-wd-xs_40px {max-width: 40px !important; }
.h--max-wd-xs_45px {max-width: 45px !important; }
.h--max-wd-xs_50px {max-width: 50px !important; }
.h--max-wd-xs_55px {max-width: 55px !important; }
.h--max-wd-xs_60px {max-width: 60px !important; }
.h--max-wd-xs_65px {max-width: 65px !important; }
.h--max-wd-xs_70px {max-width: 70px !important; }
.h--max-wd-xs_75px {max-width: 75px !important; }
.h--max-wd-xs_80px {max-width: 80px !important; }
.h--max-wd-xs_85px {max-width: 85px !important; }
.h--max-wd-xs_90px {max-width: 90px !important; }
.h--max-wd-xs_95px {max-width: 95px !important; }
.h--max-wd-xs_100px {max-width: 100px !important; }
/* % */
.h--max-wd-xs_0pr {max-width: 0% !important; }
.h--max-wd-xs_5pr {max-width: 5% !important; }
.h--max-wd-xs_10pr {max-width: 10% !important; }
.h--max-wd-xs_15pr {max-width: 15% !important; }
.h--max-wd-xs_20pr {max-width: 20% !important; }
.h--max-wd-xs_25pr {max-width: 25% !important; }
.h--max-wd-xs_30pr {max-width: 30% !important; }
.h--max-wd-xs_35pr {max-width: 35% !important; }
.h--max-wd-xs_40pr {max-width: 40% !important; }
.h--max-wd-xs_45pr {max-width: 45% !important; }
.h--max-wd-xs_50pr {max-width: 50% !important; }
.h--max-wd-xs_55pr {max-width: 55% !important; }
.h--max-wd-xs_60pr {max-width: 60% !important; }
.h--max-wd-xs_65pr {max-width: 65% !important; }
.h--max-wd-xs_70pr {max-width: 70% !important; }
.h--max-wd-xs_75pr {max-width: 75% !important; }
.h--max-wd-xs_80pr {max-width: 80% !important; }
.h--max-wd-xs_85pr {max-width: 85% !important; }
.h--max-wd-xs_90pr {max-width: 90% !important; }
.h--max-wd-xs_95pr {max-width: 95% !important; }
.h--max-wd-xs_100pr {max-width: 100% !important; }

/* -------- SM -------- */ 
@media (min-width: $sm) {
	/* px */
	.h--wd-sm_0px {width: 0px !important; }
	.h--wd-sm_5px {width: 5px !important; }
	.h--wd-sm_10px {width: 10px !important; }
	.h--wd-sm_15px {width: 15px !important; }
	.h--wd-sm_20px {width: 20px !important; }
	.h--wd-sm_25px {width: 25px !important; }
	.h--wd-sm_30px {width: 30px !important; }
	.h--wd-sm_35px {width: 35px !important; }
	.h--wd-sm_40px {width: 40px !important; }
	.h--wd-sm_45px {width: 45px !important; }
	.h--wd-sm_50px {width: 50px !important; }
	.h--wd-sm_55px {width: 55px !important; }
	.h--wd-sm_60px {width: 60px !important; }
	.h--wd-sm_65px {width: 65px !important; }
	.h--wd-sm_70px {width: 70px !important; }
	.h--wd-sm_75px {width: 75px !important; }
	.h--wd-sm_80px {width: 80px !important; }
	.h--wd-sm_85px {width: 85px !important; }
	.h--wd-sm_90px {width: 90px !important; }
	.h--wd-sm_95px {width: 95px !important; }
	.h--wd-sm_100px {width: 100px !important; }
	/* % */
	.h--wd-sm_0pr {width: 0% !important; }
	.h--wd-sm_5pr {width: 5% !important; }
	.h--wd-sm_10pr {width: 10% !important; }
	.h--wd-sm_15pr {width: 15% !important; }
	.h--wd-sm_20pr {width: 20% !important; }
	.h--wd-sm_25pr {width: 25% !important; }
	.h--wd-sm_30pr {width: 30% !important; }
	.h--wd-sm_35pr {width: 35% !important; }
	.h--wd-sm_40pr {width: 40% !important; }
	.h--wd-sm_45pr {width: 45% !important; }
	.h--wd-sm_50pr {width: 50% !important; }
	.h--wd-sm_55pr {width: 55% !important; }
	.h--wd-sm_60pr {width: 60% !important; }
	.h--wd-sm_65pr {width: 65% !important; }
	.h--wd-sm_70pr {width: 70% !important; }
	.h--wd-sm_75pr {width: 75% !important; }
	.h--wd-sm_80pr {width: 80% !important; }
	.h--wd-sm_85pr {width: 85% !important; }
	.h--wd-sm_90pr {width: 90% !important; }
	.h--wd-sm_95pr {width: 95% !important; }
	.h--wd-sm_100pr {width: 100% !important; }

	/* px */
	.h--min-wd-sm_0px {min-width: 0px !important; }
	.h--min-wd-sm_5px {min-width: 5px !important; }
	.h--min-wd-sm_10px {min-width: 10px !important; }
	.h--min-wd-sm_15px {min-width: 15px !important; }
	.h--min-wd-sm_20px {min-width: 20px !important; }
	.h--min-wd-sm_25px {min-width: 25px !important; }
	.h--min-wd-sm_30px {min-width: 30px !important; }
	.h--min-wd-sm_35px {min-width: 35px !important; }
	.h--min-wd-sm_40px {min-width: 40px !important; }
	.h--min-wd-sm_45px {min-width: 45px !important; }
	.h--min-wd-sm_50px {min-width: 50px !important; }
	.h--min-wd-sm_55px {min-width: 55px !important; }
	.h--min-wd-sm_60px {min-width: 60px !important; }
	.h--min-wd-sm_65px {min-width: 65px !important; }
	.h--min-wd-sm_70px {min-width: 70px !important; }
	.h--min-wd-sm_75px {min-width: 75px !important; }
	.h--min-wd-sm_80px {min-width: 80px !important; }
	.h--min-wd-sm_85px {min-width: 85px !important; }
	.h--min-wd-sm_90px {min-width: 90px !important; }
	.h--min-wd-sm_95px {min-width: 95px !important; }
	.h--min-wd-sm_100px {min-width: 100px !important; }
	/* % */
	.h--min-wd-sm_0pr {min-width: 0% !important; }
	.h--min-wd-sm_5pr {min-width: 5% !important; }
	.h--min-wd-sm_10pr {min-width: 10% !important; }
	.h--min-wd-sm_15pr {min-width: 15% !important; }
	.h--min-wd-sm_20pr {min-width: 20% !important; }
	.h--min-wd-sm_25pr {min-width: 25% !important; }
	.h--min-wd-sm_30pr {min-width: 30% !important; }
	.h--min-wd-sm_35pr {min-width: 35% !important; }
	.h--min-wd-sm_40pr {min-width: 40% !important; }
	.h--min-wd-sm_45pr {min-width: 45% !important; }
	.h--min-wd-sm_50pr {min-width: 50% !important; }
	.h--min-wd-sm_55pr {min-width: 55% !important; }
	.h--min-wd-sm_60pr {min-width: 60% !important; }
	.h--min-wd-sm_65pr {min-width: 65% !important; }
	.h--min-wd-sm_70pr {min-width: 70% !important; }
	.h--min-wd-sm_75pr {min-width: 75% !important; }
	.h--min-wd-sm_80pr {min-width: 80% !important; }
	.h--min-wd-sm_85pr {min-width: 85% !important; }
	.h--min-wd-sm_90pr {min-width: 90% !important; }
	.h--min-wd-sm_95pr {min-width: 95% !important; }
	.h--min-wd-sm_100pr {min-width: 100% !important; }

	/* px */
	.h--max-wd-sm_0px {max-width: 0px !important; }
	.h--max-wd-sm_5px {max-width: 5px !important; }
	.h--max-wd-sm_10px {max-width: 10px !important; }
	.h--max-wd-sm_15px {max-width: 15px !important; }
	.h--max-wd-sm_20px {max-width: 20px !important; }
	.h--max-wd-sm_25px {max-width: 25px !important; }
	.h--max-wd-sm_30px {max-width: 30px !important; }
	.h--max-wd-sm_35px {max-width: 35px !important; }
	.h--max-wd-sm_40px {max-width: 40px !important; }
	.h--max-wd-sm_45px {max-width: 45px !important; }
	.h--max-wd-sm_50px {max-width: 50px !important; }
	.h--max-wd-sm_55px {max-width: 55px !important; }
	.h--max-wd-sm_60px {max-width: 60px !important; }
	.h--max-wd-sm_65px {max-width: 65px !important; }
	.h--max-wd-sm_70px {max-width: 70px !important; }
	.h--max-wd-sm_75px {max-width: 75px !important; }
	.h--max-wd-sm_80px {max-width: 80px !important; }
	.h--max-wd-sm_85px {max-width: 85px !important; }
	.h--max-wd-sm_90px {max-width: 90px !important; }
	.h--max-wd-sm_95px {max-width: 95px !important; }
	.h--max-wd-sm_100px {max-width: 100px !important; }
	/* % */
	.h--max-wd-sm_0pr {max-width: 0% !important; }
	.h--max-wd-sm_5pr {max-width: 5% !important; }
	.h--max-wd-sm_10pr {max-width: 10% !important; }
	.h--max-wd-sm_15pr {max-width: 15% !important; }
	.h--max-wd-sm_20pr {max-width: 20% !important; }
	.h--max-wd-sm_25pr {max-width: 25% !important; }
	.h--max-wd-sm_30pr {max-width: 30% !important; }
	.h--max-wd-sm_35pr {max-width: 35% !important; }
	.h--max-wd-sm_40pr {max-width: 40% !important; }
	.h--max-wd-sm_45pr {max-width: 45% !important; }
	.h--max-wd-sm_50pr {max-width: 50% !important; }
	.h--max-wd-sm_55pr {max-width: 55% !important; }
	.h--max-wd-sm_60pr {max-width: 60% !important; }
	.h--max-wd-sm_65pr {max-width: 65% !important; }
	.h--max-wd-sm_70pr {max-width: 70% !important; }
	.h--max-wd-sm_75pr {max-width: 75% !important; }
	.h--max-wd-sm_80pr {max-width: 80% !important; }
	.h--max-wd-sm_85pr {max-width: 85% !important; }
	.h--max-wd-sm_90pr {max-width: 90% !important; }
	.h--max-wd-sm_95pr {max-width: 95% !important; }
	.h--max-wd-sm_100pr {max-width: 100% !important; }

}
/* -------- MD -------- */ 
@media (min-width: $md) {
	/* px */
	.h--wd-md_0px {width: 0px !important; }
	.h--wd-md_5px {width: 5px !important; }
	.h--wd-md_10px {width: 10px !important; }
	.h--wd-md_15px {width: 15px !important; }
	.h--wd-md_20px {width: 20px !important; }
	.h--wd-md_25px {width: 25px !important; }
	.h--wd-md_30px {width: 30px !important; }
	.h--wd-md_35px {width: 35px !important; }
	.h--wd-md_40px {width: 40px !important; }
	.h--wd-md_45px {width: 45px !important; }
	.h--wd-md_50px {width: 50px !important; }
	.h--wd-md_55px {width: 55px !important; }
	.h--wd-md_60px {width: 60px !important; }
	.h--wd-md_65px {width: 65px !important; }
	.h--wd-md_70px {width: 70px !important; }
	.h--wd-md_75px {width: 75px !important; }
	.h--wd-md_80px {width: 80px !important; }
	.h--wd-md_85px {width: 85px !important; }
	.h--wd-md_90px {width: 90px !important; }
	.h--wd-md_95px {width: 95px !important; }
	.h--wd-md_100px {width: 100px !important; }
	/* % */
	.h--wd-md_0pr {width: 0% !important; }
	.h--wd-md_5pr {width: 5% !important; }
	.h--wd-md_10pr {width: 10% !important; }
	.h--wd-md_15pr {width: 15% !important; }
	.h--wd-md_20pr {width: 20% !important; }
	.h--wd-md_25pr {width: 25% !important; }
	.h--wd-md_30pr {width: 30% !important; }
	.h--wd-md_35pr {width: 35% !important; }
	.h--wd-md_40pr {width: 40% !important; }
	.h--wd-md_45pr {width: 45% !important; }
	.h--wd-md_50pr {width: 50% !important; }
	.h--wd-md_55pr {width: 55% !important; }
	.h--wd-md_60pr {width: 60% !important; }
	.h--wd-md_65pr {width: 65% !important; }
	.h--wd-md_70pr {width: 70% !important; }
	.h--wd-md_75pr {width: 75% !important; }
	.h--wd-md_80pr {width: 80% !important; }
	.h--wd-md_85pr {width: 85% !important; }
	.h--wd-md_90pr {width: 90% !important; }
	.h--wd-md_95pr {width: 95% !important; }
	.h--wd-md_100pr {width: 100% !important; }

	/* px */
	.h--min-wd-md_0px {min-width: 0px !important; }
	.h--min-wd-md_5px {min-width: 5px !important; }
	.h--min-wd-md_10px {min-width: 10px !important; }
	.h--min-wd-md_15px {min-width: 15px !important; }
	.h--min-wd-md_20px {min-width: 20px !important; }
	.h--min-wd-md_25px {min-width: 25px !important; }
	.h--min-wd-md_30px {min-width: 30px !important; }
	.h--min-wd-md_35px {min-width: 35px !important; }
	.h--min-wd-md_40px {min-width: 40px !important; }
	.h--min-wd-md_45px {min-width: 45px !important; }
	.h--min-wd-md_50px {min-width: 50px !important; }
	.h--min-wd-md_55px {min-width: 55px !important; }
	.h--min-wd-md_60px {min-width: 60px !important; }
	.h--min-wd-md_65px {min-width: 65px !important; }
	.h--min-wd-md_70px {min-width: 70px !important; }
	.h--min-wd-md_75px {min-width: 75px !important; }
	.h--min-wd-md_80px {min-width: 80px !important; }
	.h--min-wd-md_85px {min-width: 85px !important; }
	.h--min-wd-md_90px {min-width: 90px !important; }
	.h--min-wd-md_95px {min-width: 95px !important; }
	.h--min-wd-md_100px {min-width: 100px !important; }
	/* % */
	.h--min-wd-md_0pr {min-width: 0% !important; }
	.h--min-wd-md_5pr {min-width: 5% !important; }
	.h--min-wd-md_10pr {min-width: 10% !important; }
	.h--min-wd-md_15pr {min-width: 15% !important; }
	.h--min-wd-md_20pr {min-width: 20% !important; }
	.h--min-wd-md_25pr {min-width: 25% !important; }
	.h--min-wd-md_30pr {min-width: 30% !important; }
	.h--min-wd-md_35pr {min-width: 35% !important; }
	.h--min-wd-md_40pr {min-width: 40% !important; }
	.h--min-wd-md_45pr {min-width: 45% !important; }
	.h--min-wd-md_50pr {min-width: 50% !important; }
	.h--min-wd-md_55pr {min-width: 55% !important; }
	.h--min-wd-md_60pr {min-width: 60% !important; }
	.h--min-wd-md_65pr {min-width: 65% !important; }
	.h--min-wd-md_70pr {min-width: 70% !important; }
	.h--min-wd-md_75pr {min-width: 75% !important; }
	.h--min-wd-md_80pr {min-width: 80% !important; }
	.h--min-wd-md_85pr {min-width: 85% !important; }
	.h--min-wd-md_90pr {min-width: 90% !important; }
	.h--min-wd-md_95pr {min-width: 95% !important; }
	.h--min-wd-md_100pr {min-width: 100% !important; }

	/* px */
	.h--max-wd-md_0px {max-width: 0px !important; }
	.h--max-wd-md_5px {max-width: 5px !important; }
	.h--max-wd-md_10px {max-width: 10px !important; }
	.h--max-wd-md_15px {max-width: 15px !important; }
	.h--max-wd-md_20px {max-width: 20px !important; }
	.h--max-wd-md_25px {max-width: 25px !important; }
	.h--max-wd-md_30px {max-width: 30px !important; }
	.h--max-wd-md_35px {max-width: 35px !important; }
	.h--max-wd-md_40px {max-width: 40px !important; }
	.h--max-wd-md_45px {max-width: 45px !important; }
	.h--max-wd-md_50px {max-width: 50px !important; }
	.h--max-wd-md_55px {max-width: 55px !important; }
	.h--max-wd-md_60px {max-width: 60px !important; }
	.h--max-wd-md_65px {max-width: 65px !important; }
	.h--max-wd-md_70px {max-width: 70px !important; }
	.h--max-wd-md_75px {max-width: 75px !important; }
	.h--max-wd-md_80px {max-width: 80px !important; }
	.h--max-wd-md_85px {max-width: 85px !important; }
	.h--max-wd-md_90px {max-width: 90px !important; }
	.h--max-wd-md_95px {max-width: 95px !important; }
	.h--max-wd-md_100px {max-width: 100px !important; }
	/* % */
	.h--max-wd-md_0pr {max-width: 0% !important; }
	.h--max-wd-md_5pr {max-width: 5% !important; }
	.h--max-wd-md_10pr {max-width: 10% !important; }
	.h--max-wd-md_15pr {max-width: 15% !important; }
	.h--max-wd-md_20pr {max-width: 20% !important; }
	.h--max-wd-md_25pr {max-width: 25% !important; }
	.h--max-wd-md_30pr {max-width: 30% !important; }
	.h--max-wd-md_35pr {max-width: 35% !important; }
	.h--max-wd-md_40pr {max-width: 40% !important; }
	.h--max-wd-md_45pr {max-width: 45% !important; }
	.h--max-wd-md_50pr {max-width: 50% !important; }
	.h--max-wd-md_55pr {max-width: 55% !important; }
	.h--max-wd-md_60pr {max-width: 60% !important; }
	.h--max-wd-md_65pr {max-width: 65% !important; }
	.h--max-wd-md_70pr {max-width: 70% !important; }
	.h--max-wd-md_75pr {max-width: 75% !important; }
	.h--max-wd-md_80pr {max-width: 80% !important; }
	.h--max-wd-md_85pr {max-width: 85% !important; }
	.h--max-wd-md_90pr {max-width: 90% !important; }
	.h--max-wd-md_95pr {max-width: 95% !important; }
	.h--max-wd-md_100pr {max-width: 100% !important; }

}
/* -------- LG -------- */ 
@media (min-width: $lg) {
	/* px */
	.h--wd-lg_0px {width: 0px !important; }
	.h--wd-lg_5px {width: 5px !important; }
	.h--wd-lg_10px {width: 10px !important; }
	.h--wd-lg_15px {width: 15px !important; }
	.h--wd-lg_20px {width: 20px !important; }
	.h--wd-lg_25px {width: 25px !important; }
	.h--wd-lg_30px {width: 30px !important; }
	.h--wd-lg_35px {width: 35px !important; }
	.h--wd-lg_40px {width: 40px !important; }
	.h--wd-lg_45px {width: 45px !important; }
	.h--wd-lg_50px {width: 50px !important; }
	.h--wd-lg_55px {width: 55px !important; }
	.h--wd-lg_60px {width: 60px !important; }
	.h--wd-lg_65px {width: 65px !important; }
	.h--wd-lg_70px {width: 70px !important; }
	.h--wd-lg_75px {width: 75px !important; }
	.h--wd-lg_80px {width: 80px !important; }
	.h--wd-lg_85px {width: 85px !important; }
	.h--wd-lg_90px {width: 90px !important; }
	.h--wd-lg_95px {width: 95px !important; }
	.h--wd-lg_100px {width: 100px !important; }
	/* % */
	.h--wd-lg_0pr {width: 0% !important; }
	.h--wd-lg_5pr {width: 5% !important; }
	.h--wd-lg_10pr {width: 10% !important; }
	.h--wd-lg_15pr {width: 15% !important; }
	.h--wd-lg_20pr {width: 20% !important; }
	.h--wd-lg_25pr {width: 25% !important; }
	.h--wd-lg_30pr {width: 30% !important; }
	.h--wd-lg_35pr {width: 35% !important; }
	.h--wd-lg_40pr {width: 40% !important; }
	.h--wd-lg_45pr {width: 45% !important; }
	.h--wd-lg_50pr {width: 50% !important; }
	.h--wd-lg_55pr {width: 55% !important; }
	.h--wd-lg_60pr {width: 60% !important; }
	.h--wd-lg_65pr {width: 65% !important; }
	.h--wd-lg_70pr {width: 70% !important; }
	.h--wd-lg_75pr {width: 75% !important; }
	.h--wd-lg_80pr {width: 80% !important; }
	.h--wd-lg_85pr {width: 85% !important; }
	.h--wd-lg_90pr {width: 90% !important; }
	.h--wd-lg_95pr {width: 95% !important; }
	.h--wd-lg_100pr {width: 100% !important; }

	/* px */
	.h--min-wd-lg_0px {min-width: 0px !important; }
	.h--min-wd-lg_5px {min-width: 5px !important; }
	.h--min-wd-lg_10px {min-width: 10px !important; }
	.h--min-wd-lg_15px {min-width: 15px !important; }
	.h--min-wd-lg_20px {min-width: 20px !important; }
	.h--min-wd-lg_25px {min-width: 25px !important; }
	.h--min-wd-lg_30px {min-width: 30px !important; }
	.h--min-wd-lg_35px {min-width: 35px !important; }
	.h--min-wd-lg_40px {min-width: 40px !important; }
	.h--min-wd-lg_45px {min-width: 45px !important; }
	.h--min-wd-lg_50px {min-width: 50px !important; }
	.h--min-wd-lg_55px {min-width: 55px !important; }
	.h--min-wd-lg_60px {min-width: 60px !important; }
	.h--min-wd-lg_65px {min-width: 65px !important; }
	.h--min-wd-lg_70px {min-width: 70px !important; }
	.h--min-wd-lg_75px {min-width: 75px !important; }
	.h--min-wd-lg_80px {min-width: 80px !important; }
	.h--min-wd-lg_85px {min-width: 85px !important; }
	.h--min-wd-lg_90px {min-width: 90px !important; }
	.h--min-wd-lg_95px {min-width: 95px !important; }
	.h--min-wd-lg_100px {min-width: 100px !important; }
	/* % */
	.h--min-wd-lg_0pr {min-width: 0% !important; }
	.h--min-wd-lg_5pr {min-width: 5% !important; }
	.h--min-wd-lg_10pr {min-width: 10% !important; }
	.h--min-wd-lg_15pr {min-width: 15% !important; }
	.h--min-wd-lg_20pr {min-width: 20% !important; }
	.h--min-wd-lg_25pr {min-width: 25% !important; }
	.h--min-wd-lg_30pr {min-width: 30% !important; }
	.h--min-wd-lg_35pr {min-width: 35% !important; }
	.h--min-wd-lg_40pr {min-width: 40% !important; }
	.h--min-wd-lg_45pr {min-width: 45% !important; }
	.h--min-wd-lg_50pr {min-width: 50% !important; }
	.h--min-wd-lg_55pr {min-width: 55% !important; }
	.h--min-wd-lg_60pr {min-width: 60% !important; }
	.h--min-wd-lg_65pr {min-width: 65% !important; }
	.h--min-wd-lg_70pr {min-width: 70% !important; }
	.h--min-wd-lg_75pr {min-width: 75% !important; }
	.h--min-wd-lg_80pr {min-width: 80% !important; }
	.h--min-wd-lg_85pr {min-width: 85% !important; }
	.h--min-wd-lg_90pr {min-width: 90% !important; }
	.h--min-wd-lg_95pr {min-width: 95% !important; }
	.h--min-wd-lg_100pr {min-width: 100% !important; }

	/* px */
	.h--max-wd-lg_0px {max-width: 0px !important; }
	.h--max-wd-lg_5px {max-width: 5px !important; }
	.h--max-wd-lg_10px {max-width: 10px !important; }
	.h--max-wd-lg_15px {max-width: 15px !important; }
	.h--max-wd-lg_20px {max-width: 20px !important; }
	.h--max-wd-lg_25px {max-width: 25px !important; }
	.h--max-wd-lg_30px {max-width: 30px !important; }
	.h--max-wd-lg_35px {max-width: 35px !important; }
	.h--max-wd-lg_40px {max-width: 40px !important; }
	.h--max-wd-lg_45px {max-width: 45px !important; }
	.h--max-wd-lg_50px {max-width: 50px !important; }
	.h--max-wd-lg_55px {max-width: 55px !important; }
	.h--max-wd-lg_60px {max-width: 60px !important; }
	.h--max-wd-lg_65px {max-width: 65px !important; }
	.h--max-wd-lg_70px {max-width: 70px !important; }
	.h--max-wd-lg_75px {max-width: 75px !important; }
	.h--max-wd-lg_80px {max-width: 80px !important; }
	.h--max-wd-lg_85px {max-width: 85px !important; }
	.h--max-wd-lg_90px {max-width: 90px !important; }
	.h--max-wd-lg_95px {max-width: 95px !important; }
	.h--max-wd-lg_100px {max-width: 100px !important; }
	/* % */
	.h--max-wd-lg_0pr {max-width: 0% !important; }
	.h--max-wd-lg_5pr {max-width: 5% !important; }
	.h--max-wd-lg_10pr {max-width: 10% !important; }
	.h--max-wd-lg_15pr {max-width: 15% !important; }
	.h--max-wd-lg_20pr {max-width: 20% !important; }
	.h--max-wd-lg_25pr {max-width: 25% !important; }
	.h--max-wd-lg_30pr {max-width: 30% !important; }
	.h--max-wd-lg_35pr {max-width: 35% !important; }
	.h--max-wd-lg_40pr {max-width: 40% !important; }
	.h--max-wd-lg_45pr {max-width: 45% !important; }
	.h--max-wd-lg_50pr {max-width: 50% !important; }
	.h--max-wd-lg_55pr {max-width: 55% !important; }
	.h--max-wd-lg_60pr {max-width: 60% !important; }
	.h--max-wd-lg_65pr {max-width: 65% !important; }
	.h--max-wd-lg_70pr {max-width: 70% !important; }
	.h--max-wd-lg_75pr {max-width: 75% !important; }
	.h--max-wd-lg_80pr {max-width: 80% !important; }
	.h--max-wd-lg_85pr {max-width: 85% !important; }
	.h--max-wd-lg_90pr {max-width: 90% !important; }
	.h--max-wd-lg_95pr {max-width: 95% !important; }
	.h--max-wd-lg_100pr {max-width: 100% !important; }

}
