@import "background-color";
@import "border";
@import "colors";
@import "display";
@import "float";
@import "font-size";
@import "height";
@import "margin";
@import "padding";
@import "position";
@import "text";
@import "width";

/* Holsters with no category */
.row--xs-pull-down {
  font-size: 0px;
}

.col--xs-pull-down {
  float: none;
  display: inline-block;
  vertical-align: bottom;
}

.h--line_height-xs_1-5em {
  line-height: 1.5em;
}

.h--line-xs_break {
  white-space: pre-line;
}

.h--ta_center {
  text-align: center;
}

.h--pa_20px {
  padding: 20px;
}

.h--hover-opacity_07:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.7 !important;
}

.h--ff_Arial {
  font-family: Arial, sans-serif;
}

.h--ff_Verdana {
  font-family: Verdana, sans-serif;
}

.h--ls_03em {
  letter-spacing: 0.3em;
}

.h--fw_bold {
  font-weight: bold;
}

.h--fw_600 {
  font-weight: 600;
}

.h--fs-xs_12px {
  font-size: 12px;
}


.h--ta-xs_center {
  text-align: center;
}

.h--opacity_07 {
  opacity: 0.7;
}

.h--opacity_06 {
  opacity: 0.6;
}

.h--hover-opacity_06:hover {
  opacity: 0.6;
}

.h--hover-no-opacity:hover {
  opacity: 1;
}

.h--pl-xs_28px {
  padding-left: 28px !important;
}

.h--td_none {
  text-decoration: none !important;
}

.h--bc_blue {
  border: 1px solid #4285f4 !important;
}

.h--curs_pointer {
  cursor: pointer;
}

.h--pl-pr-xs_0px {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.h--wd-xs_84pc {
  width: 84%;
}

.h--wd-xs_83pr {
  width: 83% !important;
}

@media (min-width: $sm) {
  .h--ml-sm_2px {
    margin-left: 2px;
  }

  .h--wd-sm_49pr {
    width: 49%;
  }
  .h--p-sm_0px {
    padding: 0 !important;
  }

  .h--ta-sm_center {
    text-align: center;
  }
  .h--ht-sm_2_5em {
    height: 2.5em !important;
  }

  .h--pl-sm_12px {
    padding-left: 12px;
  }

  .h--wd-sm_auto {
    width: auto!important;
  }

  .h--wd-sm_56pr {
    width: 56% !important;
  }
}

@media (min-width: $md) {
  .h--ml-md_7px {
    margin-left: 7px;
  }
}
