.input-group {
  width: 100%;
  min-width: 270px;
  display: inline-block;
  text-align: center;
}

.input--search {
  width: 84%;
  min-width: 220px;
  margin-top: 22px;
  height: 37px;
  font-size: 1.3em;
  padding: 8px 0px 5px 9px;
  display: inline-block;
  border: 1px solid #b9b9b9;
  border-right: 0;
  vertical-align: bottom;
}

.input--search_focus:focus {
  box-shadow: none;
  border: 1px solid #4285f4;
  border-right: 0;
  outline-color: transparent;
}

.input--search_addon {
  background: none !important;
  border-radius: 0;
  vertical-align: middle;
  height: 40px !important;
  display: inline-block;
  padding: 0 !important;
  width: auto;
  margin-left: -5px;
  margin-top: -6px;
  border: 1px solid #b9b9b9;
  border-left: 0;
}

@import "sm-input";