.footer {
  background: #f2f2f2;
  position: fixed;
  bottom: 0;
  display: none;
  padding: 0px 15px;
  font-size: .9em;
  width: 100%;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  letter-spacing: 0.015em;
}


.footer__left-col {
  float: left;
  width: auto;
}

.footer__right-col {
  float: right;
  width: auto;
}

@import "sm-footer";