.logo--main {
  text-align: center;
}

.logo--small {
  display: inline-block;
  height: 38px;
  width: 120px;
  background: url("../images/googleLogoAndOtherSprites.png") -22px 0px no-repeat;
}

@import "sm-logo";