.btn__login {
  border: none !important;
  background: -webkit-linear-gradient(top, #4387fd, #4683ea) !important;
  font-weight: bold;
  outline: none;
  display: inline-block;
  line-height: 28px;
  padding: 1px 13px;
  border-radius: 2px;
  margin-left: 18px !important;
  vertical-align: middle;
  font-size: 1em;
}

.btn__login--no-hover:hover {
  background: #4684EC;
  border: inherit;
}

.btn-group {
  margin-top: 30px;
  text-align: center;
  width: 100%;
  display: none;
}

.btn__grey {
  display: inline-block;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  cursor: default;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  float: none !important;
}

@import "sm-btn";