.header {
  display: block;
  padding-top: 10px;
  font-family: Roboto-Regular,HelveticaNeue,Arial,sans-serif;
}

.header--search {
  background: #f1f1f1;
  vertical-align: middle;
  padding: 10px 0px;
}
@import "sm-header";
